<li class="flex items-center justify-between gap-x-6 py-5" id="session-{{ session.external_id }}">
  <div class="min-w-0">
    <div class="flex items-start gap-x-3">
      <p class="text-sm font-semibold leading-6 text-gray-900">{{ session.get_participant_display }}</p>
      <p class="rounded-md whitespace-nowrap mt-0.5 px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset {% if session.status == "complete" %}text-green-700 bg-green-50 ring-green-600/20{% endif %}">{{ session.get_status_display }}</p>
    </div>
    <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
      <p class="whitespace-nowrap">Created {{ session.created_at }}</p>
    </div>
  </div>
  <div class="flex flex-none items-center gap-x-4">
    <form hx-post="{% url 'chatbots:send_chatbot_invitation' request.team.slug experiment.id session.external_id %}"
          hx-target="#session-{{ session.external_id }}"
          hx-swap="outerHTML">
      {% csrf_token %}
      <input type="submit" class="btn btn-sm btn-outline btn-primary"
             value="{% if session.status == "setup" %}Send Invitation{% else %}Resend Invitation{% endif %}">
    </form>
  </div>
</li>
