{# Template fragment for display a file list with ability to add and remove #}
{# Required template vars: #}
{# - upload_url: URL to upload a file #}
{# - nested: boolean indicating whether this form is nested withing another form #}
{# - See also "files/partials/file_item.html" #}
<div x-data="{{ prefix|default:"" }}Data">
  <div class="flex flex-row justify-between mb-4">
    <h3 class="text-lg font-medium">{{ files_title|default:"FILES" }} <span class="text-sm">(<span x-text="file_count"></span>)</span></h3>
    <button type="button" class="btn btn-sm" @click="document.getElementById('{{ prefix|default:"" }}fileInput').click()">
      <i class="fa-solid fa-paperclip"></i> Add
    </button>
  </div>
  <{% if nested|default:False %}div{% else %}form{% endif %} id="fileUploadForm" hx-encoding="multipart/form-data"
  hx-post="{{ upload_url }}"
  hx-trigger="change"
  hx-swap="afterbegin"
  hx-target="#{{ prefix|default:"" }}fileList"
  hx-params="*"
  >
  <input type="file" name="file" id="{{ prefix|default:"" }}fileInput" class="hidden" {% if multiple %}multiple{% endif %}>
  <span class="loading loading-spinner loading-sm p-3 ml-4 htmx-show"></span>
</{% if nested|default:False %}div{% else %}form{% endif %}>
<ul id="{{ prefix|default:"" }}fileList">
  {% for file in files %}
    {% include "files/partials/file_item.html" %}
  {% endfor %}
</ul>
</div>

<script>
  document.addEventListener('alpine:init', () => {
    Alpine.data("{{ prefix|default:"" }}Data", () => ({
      file_count: 0,
      updateFileCount() {
        let fileListEle = document.getElementById("{{ prefix|default:"" }}fileList")
        this.file_count = fileListEle.children.length;
      },
      init() {
        this.updateFileCount();
        const observer = new MutationObserver(() => this.updateFileCount());
        let fileListEle = document.getElementById("{{ prefix|default:"" }}fileList")
        observer.observe(fileListEle, { childList: true });
      }
    }))
  })
</script>
