{% load i18n %}
<input type="checkbox" id="remove-member-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <h3 class="font-bold text-lg">{% if editing_self %}{% translate "Leave team?" %}{% else %}{% translate "Remove team member?" %}{% endif %}</h3>
    <p class="py-4">
      {% if editing_self %}
        You will be removed from the team: <em><strong>{{ request.team.name }}</strong></em>.
        After this, you will no longer be able to access any team pages, and will have to be invited again to regain access.
      {% else %}
        This will remove <em><strong>{{ membership.user.get_display_name }}</strong></em> from your team: <em>{{ request.team.name }}</em>.
        They will no longer be able to access any team pages, and will have to be invited again to regain access.
      {% endif %}
    </p>
    <footer class="modal-card-foot">
      <div class="modal-action">
        <form action="{% url 'single_team:remove_team_membership' request.team.slug membership.pk %}" method="post">
          {% csrf_token %}
          <button class="btn btn-error" type="submit">
            {% if editing_self %}{% translate "I understand, leave team" %}{% else %}{% translate "I understand, remove team member" %}{% endif %}
          </button>
        </form>
        <label for="remove-member-modal" class="btn">{% translate "Cancel" %}</label>
      </div>
    </footer>
  </div>
</div>
