{% load actions %}

<form
    id="detail-form"
    action="{{ edit_url }}"
    method="POST"
    class="m-2 grid grid-cols-4" x-data="{editing: false}">
    {% csrf_token %}
    <div class="col-span-3">
        {% block detail_content %}
        {% endblock %}
    </div>
    <div class="py-3">
        <div class="join">
            <button type="button" class="btn btn-sm join-item pl-3" x-show="!editing" @click="editing = true">
                <i class="fa-solid fa-pencil fa-xs"></i>
            </button>
            <button type="submit" class="btn btn-sm join-item" x-cloak x-show="editing">
                <i class="fa-solid fa-check fa-xs"></i>
            </button>
            <button type="button" @click="editing = false" class="btn btn-sm join-item" x-cloak x-show="editing">
                <i class="fa-solid fa-ban fa-xs"></i>
            </button>
            {% include "generic/action_ajax.html" with title="Archive" action_url=archive_url confirm_message="Are you sure?" icon_class='fa-solid fa-box-archive' action_id="post" hx_method="get" record=object %}
        </div>
    </div>
</form>

{% block extra_js %}
{% endblock %}
