{% load actions %}

<form
    id="detail-form"
    action="{{ edit_url }}"
    method="POST"
    class="m-2 grid grid-cols-4" x-data="{editing: false}">
    {% csrf_token %}
    {% block detail_content %}
    {% endblock %}
    <div class="py-3 col-span-1">
        <div class="join">
            <button type="button" class="btn btn-sm join-item pl-3" x-show="!editing" @click="editing = true">
                Edit <i class="fa-solid fa-pencil fa-xs"></i>
            </button>
            <button type="submit" class="btn btn-sm join-item" x-cloak x-show="editing">
                Update <i class="fa-solid fa-check fa-xs"></i>
            </button>
            <button type="button" @click="editing = false" class="btn btn-sm join-item" x-cloak x-show="editing">
                Cancel
            </button>
            {% include "generic/action_ajax.html" with title="Delete" action_url=delete_url confirm_message="Are you sure?" icon_class='fa fa-trash' action_id="delete" hx_method="get" record=object %}
        </div>
    </div>
</form>

{% block extra_js %}
{% endblock %}
