{% load i18n %}

<ul x-data="{selected_item: null}">
    {% for object in page_obj %}
        <li
            id="record-{{ object.id }}"
            class="text-left px-3 py-3 border-b border-base-300 hover:cursor-pointer"
            hx-get="{% url details_url_name request.team.slug object.id %}"
            hx-trigger="click"
            hx-target="#{{ tab_name }}_details"
            @click="selected_item = {{ object.id }}"
            :class="selected_item === {{ object.id }} ? 'bg-gray-500': 'hover:bg-base-200'"
        >
            <div class="flex justify-between">
                <span>{{ object.name }}</span>
                <div class="text-gray-600 italic text-sm">{{ object.created_at }}</div>
            </div>
        </li>
    {% endfor %}
</ul>

<div class="pagination">
    <div class="join">
        <a class="join-item btn"
           {% if page_obj.has_previous %}
               href="{% querystring page=page_obj.previous_page_number %}"
           {% else %}disabled{% endif %}>
            <span aria-hidden="true">&laquo;</span>
        </a>
        <a class="join-item btn">
            {% with current_position=page_obj.number total=page_obj.paginator.num_pages %}
                {% blocktranslate %}
                    {{ current_position }} of {{ total }}
                {% endblocktranslate %}
            {% endwith %}
        </a>
        <a class="join-item btn"
           {% if page_obj.has_next %}
               href="{% querystring page=page_obj.next_page_number %}"
           {% else %}disabled{% endif %}>
            <span aria-hidden="true">&raquo;</span>
        </a>
    </div>
</div>
