<div class="my-2 border-t border-base-300 grid grid-cols-5">
    <div class="col-span-2 border-r border-base-300">
        <div class="flex flex-row my-2 justify-evenly items-center">
            <input class="input" type="search"
                   name="{{ search_param_name|default:"search" }}"
                   placeholder="Search {{ tab_name }}..."
                   hx-get="{{ object_list_url }}"
                   hx-trigger="keyup[this.value.length === 0 || this.value.length > 2] changed delay:500ms, search"
                   hx-target="#{{ tab_name }}_list"
                   hx-indicator=".htmx-indicator"/>
            <i class="mx-2 htmx-indicator fa fa-spinner fa-pulse"></i>
            <button class="btn btn-sm btn-primary" @click="add_new.showModal()">Add new</button>
        </div>
        <div id="{{ tab_name }}_list" hx-get="{{ object_list_url }}{% querystring %}" hx-trigger="load">
        </div>
    </div>
    <div class="col-span-3">
        <div id="{{ tab_name }}_details"></div>
    </div>
</div>


<dialog id="add_new" class="modal">
    <div class="modal-box max-w-none w-1/2 max-h-2/5 overflow-y-auto">
        <form method="dialog">
            <button aria-label="Close" title="Close" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        {% include add_new_modal_template %}
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
