{% extends "web/base.html" %}
{% load i18n %}
{% load static %}
{% load form_tags %}

{% block body %}
  <div class="flex justify-center my-8 ">
    <div class="w-96 px-4 py-4 bg-white dark:bg-neutral-800">
      <div>
        {% if process == "connect" %}
          <h2 class="mt-6 text-2xl font-bold text-gray-900 dark:text-gray-200">
            {% blocktranslate with provider.name as provider %}Connect {{ provider }}{% endblocktranslate %}
          </h2>

          <p>{% blocktranslate with provider.name as provider %}You are about to connect a new third party account from
            {{ provider }}.{% endblocktranslate %}</p>
        {% elif process == "signup" %}
          <h2 class="mt-6 text-2xl font-bold text-gray-900 dark:text-gray-200">
            {% blocktranslate with provider.name as provider %}Sign Up with {{ provider }}{% endblocktranslate %}
          </h2>

          <p>{% blocktranslate with provider.name as provider %}You are about to sign up using a third party account
            from {{ provider }}.{% endblocktranslate %}</p>
        {% else %}
          <h2 class="mt-6 text-2xl font-bold text-gray-900 dark:text-gray-200">
            {% blocktranslate with provider.name as provider %}Sign In via {{ provider }}{% endblocktranslate %}
          </h2>

          <p>{% blocktranslate with provider.name as provider %}You are about to sign in using a third party account
            from {{ provider }}.{% endblocktranslate %}</p>
        {% endif %}

        <form method="post" class="mt-2">
          {% csrf_token %}
          <button class="btn btn-primary" type="submit" autofocus>{% translate "Continue" %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock body %}
