{% extends "web/base.html" %}

{% load form_tags i18n %}

{% block page_title %}{% translate "Sign Up" %}{% endblock %}

{% block body %}
  <div class="flex justify-center my-8 ">
    <div class="w-96 px-4 py-4 bg-white dark:bg-neutral-800">
      <h1 class="pg-title">{% translate "Sign Up" %}</h1>

      <p>{% blocktranslate with provider_name=account.get_provider.name site_name=site.name %}You are about to use your
        {{ provider_name }} account to login to
        {{ site_name }}. As a final step, please complete the following form:{% endblocktranslate %}</p>

      <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% render_form_fields form %}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-primary" type="submit">{% translate "Sign Up" %} »</button>
      </form>
    </div>
  </div>
{% endblock body %}
