{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% block content %}
  {% if confirmation %}
    {% user_display confirmation.email_address.user as user_display %}
    <p class="pg-content text-center">
      <i class="fa-solid fa-circle-check fa-beat mb-4 text-success" style="--fa-beat-scale: 2.0; --fa-animation-iteration-count: 1;"></i>
      <br/>
      <a href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a>
    </p>
    <p class="pg-content text-center">
      {% translate "Thanks for verifying your email address." %}<br/>
      {% translate "You will be redirected shortly." %}
    </p>
    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}" id="confirmation_form">
      {% csrf_token %}
    </form>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        document.getElementById("confirmation_form").submit();
      });
    </script>
  {% else %}
    {% url 'account_email' as email_url %}
    <div class="prose max-w-none lg:prose-lg">
      <p>
        {% blocktranslate %}
          This e-mail confirmation link expired or the email address has already been confirmed.
        {% endblocktranslate %}
      </p>
      <p>
        {% blocktranslate %}
          If you are not able to log in, you can <a href="{{ email_url }}">request a new e-mail confirmation link</a>.
        {% endblocktranslate %}
      </p>
    </div>
  {% endif %}
{% endblock content %}
