{% extends "web/base.html" %}
{% load i18n %}
{% load static %}
{% load form_tags %}

{% block body %}
  <div class="flex justify-center my-8 ">
    <div class="w-96 px-4 py-4 bg-white dark:bg-neutral-800">
      <div>
        <h2 class="mt-6 text-center text-2xl font-bold text-gray-900 dark:text-gray-200">
          {% translate "Sign In" %}
        </h2>
        <form class="mt-6 space-y-6" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% if form.login %}
            {% render_field form.login %}
          {% endif %}
          {% if form.password %}
            {% render_field form.password %}
          {% endif %}
          <div>
            {% if form.password %}
              {% translate "Sign In" as btn_text %}
            {% else %}
              {% translate "Continue" as btn_text %}
            {% endif %}
            <input class="btn btn-primary btn-block" type="submit" value="{{ btn_text }}">
          </div>
        </form>
        {% if form.password %}
          <div class="text-sm mt-4">
            <a href="{% url 'account_reset_password' %}" class="font-medium text-blue-700 dark:text-blue-300 hover:text-blue-500">
              {% translate "Forgot password?" %}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock body %}
