{% extends "prelogin/auth_base.html" %}
{% load form_tags i18n static %}
{% block title %}
  {% translate "Sign In" %} | Open Chat Studio
{% endblock title %}

{% block card_eyebrow %}
  <h1 class="card-eyebrow">{% translate "Sign In" %}</h1>
{% endblock card_eyebrow %}

{% block auth_body %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% if form.login %}
      {% render_field form.login %}
    {% endif %}
    {% if form.password %}
      {% render_field form.password %}
    {% endif %}
    {% if form.password %}
      {% translate "Sign In" as btn_text %}
    {% else %}
      {% translate "Continue" as btn_text %}
    {% endif %}
    <input class="btn btn-indigo" type="submit" value="{{ btn_text }}">
  </form>
  {% if form.password %}
    <div class="auth-foot">
      <a class="auth-link" href="{% url 'account_reset_password' %}">{% translate "Forgot password?" %}</a>
    </div>
  {% endif %}
{% endblock auth_body %}
