{% extends "prelogin/auth_base.html" %}
{% load i18n %}
{% block auth_body %}
  <h1 class="pg-title">{% translate "Change Password" %}</h1>
  <div class="pg-content">
    <p>
      {% blocktranslate %}
                Your password has been changed.
            {% endblocktranslate %}
    </p>
    <p>
      {% url login_url_name|default:"account_login" as login_url %}
      {% blocktranslate %}
                You can now <a href="{{ login_url }}">login</a> with your new password.
            {% endblocktranslate %}
    </p>
  </div>
{% endblock auth_body %}
