{% extends "prelogin/auth_base.html" %}
{% load account form_tags i18n static %}
{# Restore the nav "Sign In" CTA: someone who remembers their password can bail to login #}
{% block nav_signin_cta %}
  <a class="btn btn-primary" href="{% url 'sso:login' %}">Sign In</a>
{% endblock nav_signin_cta %}

{% block auth_body %}
  <h1 class="pg-title">{% translate "Password Reset" %}</h1>
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <h2 class="pg-subtitle">
    {% translate "Forgot your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
  </h2>
  <form method="post"
        action="{% url 'account_reset_password' %}"
        class="password_reset">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% render_field form.email %}
    <input class="btn btn-indigo"
           type="submit"
           value="{% translate "Send Password Reset" %}">
    <div class="pg-help">
      {% blocktranslate %}
        Please contact us if you have any trouble resetting your password.
      {% endblocktranslate %}
    </div>
  </form>
{% endblock auth_body %}
