{% extends "web/base.html" %}
{% load allauth i18n %}
{% block page_title %}
  {% translate "Sign Up Closed" %}
{% endblock page_title %}

{% block body %}
  <div class="flex justify-center my-8 ">
    <div class="w-96 px-4 py-4 bg-base-100">
      <div>
        <h2 class="mt-6 text-center text-2xl font-bold">
          {% translate "Sign Up Closed" %}
        </h2>
        <p>{% translate "We are sorry, but the sign up is currently closed." %}</p>
      </div>
    </div>
  </div>
{% endblock body %}
