{% extends 'documents/shared/details_base.html' %}

{% block detail_content %}
    <div class="col-span-3">
        <input x-cloak x-show="editing" name="name" class="input input-bordered" value="{{ object.name }}"></input>
        <h1 x-show="!editing" class="pg-title">{{ object.name }}</h1>

        <dl class="grid grid-cols-2 gap-1">
            <div class="py-3 col-span-1">
                <dt class="text-sm font-medium leading-6">Uploaded at</dt>
                <dd class="text-sm col-span-2">{{ object.created_at }}</dd>
            </div>

            <div class="py-3 col-span-1">
                <dt class="text-sm font-medium leading-6">Total Size</dt>
                <dd class="text-sm col-span-2">{{ object.size }} MB</dd>
            </div>

            <div class="py-3 col-span-1">
                <dt class="text-sm font-medium leading-6">Files ({{ object.files.count }})</dt>
                <dd class="text-sm col-span-2">
                    {{ object.file_names|join:', ' }}
                </dd>
            </div>

            <div class="py-3 col-span-2">
                <dt class="text-sm font-medium leading-6">Summary</dt>
                <dd class="text-sm col-span-2">
                    <textarea name="summary" x-cloak x-show="editing" rows="2" cols="40" class="input input-bordered">{{ object.summary }}</textarea>
                    <span x-show="!editing">{{ object.summary }}</span>
                </dd>
            </div>
        </dl>
    </div>
{% endblock %}
