<div class="m-2">
    <h1 class="pg-title">{{ object.name }}</h1>
    <dl class="grid grid-cols-2 gap-1">
        <div class="py-3 col-span-1">
            <dt class="text-sm font-medium leading-6">Uploaded at</dt>
            <dd class="text-sm col-span-2">{{ object.created_at }}</dd>
        </div>

        <div class="py-3 col-span-1">
            <dt class="text-sm font-medium leading-6">Size</dt>
            <dd class="text-sm col-span-2">{{ object.size_kilobytes }} KB</dd>
        </div>

        <div class="py-3 col-span-2">
            <dt class="text-sm font-medium leading-6">Collections</dt>
            <dd class="text-sm col-span-2"></dd>
        </div>

        <div class="py-3 col-span-2">
            <dt class="text-sm font-medium leading-6">Summary</dt>
            <dd class="text-sm col-span-2">{{ object.summary }}</dd>
        </div>
    </dl>
</div>