{% extends 'documents/shared/details_base.html' %}

{% block detail_content %}
    <input x-cloak x-show="editing" name="name" class="input" value="{{ object.name }}"></input>
    <h1 x-show="!editing" class="pg-title">{{ object.name }}</h1>

    <dl class="grid grid-cols-2 gap-1">
        <div class="py-3">
            <dt class="text-sm font-medium">Uploaded at</dt>
            <dd class="text-sm">{{ object.created_at }}</dd>
        </div>

        <div class="py-3">
            <dt class="text-sm font-medium">Size</dt>
            <dd class="text-sm">{{ object.size_mb }} MB</dd>
        </div>

        <div class="py-3">
            <dt class="text-sm font-medium">Content Type</dt>
            <dd class="text-sm overflow-auto">{{ object.content_type }}</dd>
        </div>

        <div class="py-3" x-data="{collections: {{ current_collection_ids }}}">
            <dt class="text-sm font-medium">Collections</dt>
            <dd class="text-sm">
                <span x-show="!editing">{{ current_collection_names|join:", " }}</span>
                <div x-cloak x-show="editing">
                    <select x-model="collections" id="collections-select" name="collections" multiple placeholder="Select collections" autocomplete="off">
                        {% for collection in available_collections %}
                            <option
                                value="{{ collection.id }}"
                                {% if collection.id in current_collection_ids %}selected{% endif %}
                            >
                                {{ collection.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </dd>
        </div>

        <div class="py-3 col-span-2">
            <dt class="text-sm font-medium">Summary</dt>
            <dd class="text-sm">
                <textarea name="summary" x-cloak x-show="editing" rows="2" cols="40" class="input" maxlength="{{ max_summary_length }}">{{ object.summary }}</textarea>
                <span x-show="!editing">{{ object.summary }}</span>
            </dd>
        </div>
    </dl>
{% endblock %}

{% block extra_js %}
    <script>
        new TomSelect("#collections-select", {
            plugins: ["remove_button", "caret_position", "input_autogrow"],
            maxItems: null,
            create: false,
        });
    </script>
{% endblock %}