{% load i18n %}
<dialog id="chooseFilesModal" class="modal" x-data="modalData" x-on:toggle="if (event.newState === 'open') { $nextTick(() => { $refs.fileUpload.click() }) }">
    <div class="modal-box max-w-none w-1/2 max-h-3/5 overflow-y-auto">
        <h3 class="font-bold text-lg mb-4">Add Files to Collection</h3>
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <span><span class="font-bold text-lg mb-4" x-text="filesRemaining"></span> files remaining</span>
        <form class="mt-2 flex flex-col" action="{% url 'documents:add_collection_files' team.slug collection.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input
                x-ref="fileUpload"
                name="files"
                @change="handleFileChange($event)"
                type="file"
                multiple
                class="file-input"
                {% if collection.is_index %}
                    accept="{{ file_search_supported_file_types }}"
                {% else %}
                    accept="{{ collections_supported_file_types }}"
                {% endif %}
            />
            {% if collection.is_index %}
                <div class="fieldset w-full">
                    <legend class="fieldset-legend">Chunking Strategy</legend>
                    <div class="flex gap-2">
                        <div>
                            <label class="label font-bold" for="chunk_size">
                                <div>
                                    Chunk Size
                                    {% blocktranslate asvar chuck_size_help %}
                                        The file contents will be divided into chunks of this many tokens each.
                                    {% endblocktranslate %}
                                    <small
                                        class="form-text text-muted">{% include "generic/help.html" with help_content=chuck_size_help %}</small>
                                </div>
                            </label>
                            <input name="chunk_size" type="number" class="input" x-model="chunk_size" required/>
                        </div>
                        <div>
                            <label class="label font-bold" for="chunk_overlap">
                                <div>
                                    Chunk Overlap
                                    {% blocktranslate asvar chunk_overlap_help %}
                                        Each chunk will overlap this many tokens with the previous chunk.
                                    {% endblocktranslate %}
                                    <small
                                        class="form-text text-muted">{% include "generic/help.html" with help_content=chunk_overlap_help %}</small>
                                </div>
                            </label>
                            <div class="flex flex-col gap-2">
                                <input name="chunk_overlap" type="number" class="input" x-model="chunk_overlap" required/>
                                <span x-cloak x-show="!isValidChunkingStrategy()" class="text-error">
                                    Chunk overlap must be less than or equal to <span x-text="chunk_size/2"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="divide-y divide-base-300">
                <template x-for="(file, index) in uploaded_files" :key="index">
                    <div class="py-3">
                        <div class="flex items-center justify-between">
                            <div x-text="file.name"></div>
                            <button aria-label="Remove File" title="Remove File" type="button" class="btn btn-xs" @click="removeFile(index)">
                                <i class="fa-solid fa-trash htmx-hide"></i>
                            </button>
                        </div>
                        {% if not collection.is_index %}
                            <div class="mt-2">
                                <textarea
                                    :name="file.name"
                                    class="textarea textarea-bordered w-full placeholder:text-gray-500"
                                    maxlength="{{ max_summary_length }}"
                                    :placeholder="`Summary for ${file.name} ...`"
                                ></textarea>
                            </div>
                        {% endif %}
                    </div>
                </template>
            </div>
            <div class="modal-action flex flex-row gap-2">
                <span x-cloak x-show="filesTooMany > 0" class="text-error">
                    Uploading <span x-text="uploaded_files.length"></span> files exceeds the limit of {{ max_files_per_collection }} files per collection. Please remove <span x-text="filesTooMany"></span> files
                </span>
                <button class="btn btn-primary mt-2" :disabled="!canSubmit()">Submit</button>
            </div>
        </form>
    </div>
</dialog>

<script>
    function convertMbToBytesBase10(valueMb) {
        return 1000000 * valueMb; // Convert MB to bytes, using base 10
    }

    document.addEventListener('alpine:init', () => {
        Alpine.data('modalData', () => ({
            maxFilesPerCollection: {{ max_files_per_collection }},
            currentCollectionFileCount: {{ collection_files_count }},
            maxFileSizeMB: {{ max_file_size_mb }},
            maxFileSizeKB: 0,
            uploaded_files: [],
            chunk_size: 800,
            chunk_overlap: 400,
            filesTooMany: 0,
            filesRemaining: 0,
            init() {
                this.calculateFileCount();
                this.maxFileSizeKB = convertMbToBytesBase10(this.maxFileSizeMB);
            },
            handleFileChange(event) {
                const files = Array.from(event.target.files);
                let filesTooLarge = [];
                files.forEach(file => {
                    if (file.size > this.maxFileSizeKB) {
                        filesTooLarge.push(file.name);
                    } else {
                        this.uploaded_files.push(file);
                    }
                });
                if (filesTooLarge.length > 0) {
                    alert(`The following files are larger than ${this.maxFileSizeMB}MB and cannot be uploaded:\n\n${filesTooLarge.join('\n')}`);
                }

                const dataTransfer = new DataTransfer();
                this.uploaded_files.forEach(file => dataTransfer.items.add(file));

                event.target.files = dataTransfer.files;
                this.calculateFileCount();
            },
            removeFile(index) {
                this.uploaded_files.splice(index, 1);
                const dataTransfer = new DataTransfer();

                this.uploaded_files.forEach(file => {
                    dataTransfer.items.add(file)
                });
                this.$refs.fileUpload.files = dataTransfer.files;
                this.calculateFileCount();
            },
            canSubmit() {
                return this.uploaded_files.length > 0 && this.isValidChunkingStrategy() && this.filesTooMany <= 0;
            },
            isValidChunkingStrategy() {
                return this.chunk_overlap <= (this.chunk_size / 2);
            },
            calculateFileCount() {
                this.filesTooMany = this.uploaded_files.length + this.currentCollectionFileCount - this.maxFilesPerCollection;
                this.filesRemaining = -1 * this.filesTooMany;
            },
        }))
    })
</script>
