{# Generic template to render a list of objects with a 'new' button #}
{% extends 'web/app/app_base.html' %}
{% block app %}
    {% load i18n %}
    <div class="app-card" x-data>
        <div class="flex">
            <h1 id="{{ title|slugify }}" class="{{ title_class|default:"pg-title" }} hover:cursor-pointer">
                <a href="#{{ title|slugify }}">{{ title }}</a>
            </h1>
        </div>

        <div class="flex flex-col mt-2">
            <div class="join">
                <a href="{% url 'documents:collections' request.team.slug 'files' %}" class="btn btn-sm join-item {% if tab_name == 'files' %}btn-active{% endif %}">
                    Files ({{ files_count }})
                </a>
                <a href="{% url 'documents:collections' request.team.slug 'collections' %}" class="btn btn-sm join-item {% if tab_name == 'collections' %}btn-active{% endif %}">
                    Collections ({{ collections_count }})
                </a>
                <a href="{% url 'documents:collections' request.team.slug 'document_index' %}" class="btn btn-sm join-item {% if tab_name == 'document_index' %}btn-active{% endif %}">
                    Document Indexes ({{ indexes_count }})
                </a>
            </div>
            <div>
                {% if tab_name == "files" %}
                    {% include 'documents/shared/tab_content.html' with object_list_url=files_list_url add_new_modal_template='documents/upload_files_modal.html' add_new_modal_title="Upload files" modal_submit_url=upload_files_url %}
                {% endif %}

                {% if tab_name == "collections" %}
                    {% include 'documents/shared/tab_content.html' with object_list_url=collections_list_url add_new_modal_template='documents/new_collection_modal.html' add_new_modal_title="New Collection" modal_submit_url=new_collection_url %}
                {% endif %}

                {% if tab_name == "document_index" %}
                    {% include 'documents/shared/tab_content.html' with object_list_url=index_list_url add_new_modal_template='documents/new_collection_modal.html' add_new_modal_title="New Document Index" modal_submit_url=new_index_url %}
                {% endif %}
            </div>
        </div>
{% endblock %}
