{% load i18n %}
<div class="pg-chat-wrapper" hx-ext="ws" ws-connect="{{ websocket_url }}" x-data="{message: ''}">
  <div id="message-list" class="chat-pane" hx-swap-oob="beforeend" style="background-color: {{ appearance_css.chat_bg }}">
    {% if not session.has_display_messages %}
      {% if session.seed_task_id %}
        {% with session.seed_task_id as task_id %}
          {% include 'experiments/chat/chat_message_response.html' %}
        {% endwith %}
      {% else %}
        <div class="chat-message-system flex">
          {% include "experiments/chat/components/system_icon.html" %}
          <div class="message-contents">
            <p>Hello, you can ask me anything you want about {{ experiment_name }}.</p>
          </div>
        </div>
      {% endif %}
    {% endif %}

    {% if session %}
      {% for message in session.get_messages_for_display %}
        {% with message.content as message_text %}
          {% with message.created_at as created_at_datetime %}
            {% if message.is_ai_message %}
              {% include 'experiments/chat/ai_message.html' with attachments=message.get_attached_files %}
            {% elif message.is_human_message %}
              {% include 'experiments/chat/human_message.html' with attachments=message.get_attached_files %}
            {% endif %}
          {% endwith %}
        {% endwith %}
      {% endfor %}
    {% endif %}
  </div>
  <form class="pg-chat-input-bar" ws-send @submit.prevent="message === ''" @submit="message = ''">
    <input id="chat-message-input" name="message" type="text" x-model="message" placeholder="{% translate 'Type your message...' %}" aria-label="Message" class="pg-control">
    <button type="submit" class="pg-button-primary mx-2" :disabled="!message">{% translate "Send" %}</button>
  </form>
</div>
{% block page_js %}
  <script>
  // scroll to bottom of chat after every incoming message
    document.body.addEventListener('htmx:wsAfterMessage', function(evt) {
      const chatUI = document.getElementById('message-list');
      chatUI.scrollTop = chatUI.scrollHeight;
    });
  // update URL if asked to do so.
    document.body.addEventListener('htmx:wsAfterMessage', function(evt) {
      try {
      // Try to parse evt.detail.message as JSON
        const message = JSON.parse(evt.detail.message);
      // Check if the parsed JSON contains a value called "pushURL" and if so push to browser history
        if (message.pushURL) {
          window.history.pushState({}, '', message.pushURL);
        }
      } catch (e) {
      // evt.detail.message is not JSON parseable - likely an htmx message we can ignore.
      }
    });
  </script>
{% endblock page_js %}
