{% extends "web/app/app_base.html" %}
{% load waffle_tags %}

{% block body_wrapper %}
  <div class="container flex flex-row">
    {% if not request.user.is_anonymous %}
      <div class="w-64 hidden lg:flex">
        {% block sidebar-nav %}
          {% include "web/components/app_nav.html" %}
        {% endblock sidebar-nav %}
      </div>
    {% endif %}
    <div class="w-full h-screen flex flex-col">
      {% if not experiment_version.is_default_version %}
        <div class="flex flex-row items-center justify-between bg-yellow-200 p-2 text-warning-content">
          <div class="flex flex-row items-center">
            <i class="fa-solid fa-triangle-exclamation"></i>
            {% if experiment_version.is_working_version %}
              <p class="ml-2">You are chatting with the unreleased version of this experiment (v{{ experiment_version_number }}).</p>
            {% else %}
              <p class="ml-2">You are chatting with a non-published version of this experiment (v{{ experiment_version_number }}).</p>
            {% endif %}
          </div>
        </div>
      {% endif %}
      {% flag "flag_chat_widget" %}
        <div class="flex-1 flex items-center justify-center">
          <open-chat-studio-widget
            id="public-chat-widget"
            visible="true"
            chatbot-id="{{ experiment.public_id }}"
            api-base-url="{{ request.scheme }}://{{ request.get_host }}"
            {% if not request.user.is_anonymous %}
              user-id="{{ request.user.email }}"
              user-name="{{ request.user.get_full_name }}"
            {% endif %}
            position="center"
            persistent-session="true"
            style="position: relative;"
          ></open-chat-studio-widget>
        </div>
      {% else %}
        {% include "experiments/chat/chat_ui.html" %}
      {% endflag %}
    </div>
  </div>
{% endblock body_wrapper %}
