/* Variables from tailwind and DaisyUI are available here */
.react-flow__node {
   z-index: -1 !important;
}

.edge-error .react-flow__edge-path {
    stroke: var(--color-error);
    stroke-width: 2px;
}

.edge-error.selected .react-flow__edge-path {
    stroke: var(--color-secondary);
    stroke-width: 2px;
}
