{% load humanize %}
<div role="tablist" class="tabs tabs-bordered">
    <input type="radio" name="pipeline_run_tabs_{{ pipeline_run.id }}" role="tab" class="tab" aria-label="Input" checked/>
    <div role="tabpanel" class="tab-content p-4">
        {% for message in pipeline_run.input.messages %}
        <pre class="whitespace-pre-wrap">{{ message }}</pre>
            <div class="divider"></div>
        {% endfor %}
    </div>

    <input type="radio" name="pipeline_run_tabs_{{ pipeline_run.id }}" role="tab" class="tab" aria-label="Output"/>
    <div role="tabpanel" class="tab-content p-4">
        {% for message in pipeline_run.output.messages %}
        <pre class="whitespace-pre-wrap">{{ message }}</pre>
            <div class="divider"></div>
        {% endfor %}
    </div>

    <input type="radio" name="pipeline_run_tabs_{{ pipeline_run.id }}" role="tab" class="tab" aria-label="Logs"/>
    <div role="tabpanel" class="tab-content p-4" x-data="{ showDebug: false }">
        <div class="font-mono" x-data="{ openSections: {} }">
            <div class="flex mb-4 items-center cursor-pointer">
                <span class="mr-2">Show Debug</span>
                <input x-model="showDebug" type="checkbox" class="toggle" />
            </div>
            {% for entry in pipeline_run.log.entries %}
                <div class="log log-{{ entry.level|lower }} p-4 border rounded-sm shadow-sm mb-2" {% if entry.level == "DEBUG" %}x-show="showDebug"{% endif %} >
                    <i :class="openSections['{{ entry.time }}'] ? 'fa fa-chevron-up' : 'fa fa-chevron-down'" class="mr-2 float-right" aria-hidden="true"></i>
                    <div class="flex items-center cursor-pointer" @click="openSections['{{ entry.time }}'] = !openSections['{{ entry.time }}']">
                        <time datetime="{{ entry.time }}" title="{{ entry.time }}">{{ entry.time }}</time>
                        <div class="badge mx-4
                                    {% if entry.level == "DEBUG" %}badge-neutral
                                    {% elif entry.level == "INFO" %}badge-info
                                    {% elif entry.level == "WARNING" %}badge-warning
                                    {% elif entry.level == "ERROR" %}badge-error
                                    {% endif %}
                                   ">{{ entry.level }}</div>
                        <span>{{ entry.message|linebreaksbr }}</span>
                    </div>

                    <div x-show="openSections['{{ entry.time }}']" x-cloak>
                        <hr class="mt-4 mb-4" />
                        {% if entry.input %}
                            Input: <br/>
                            {{ entry.input|linebreaksbr }}
                        {% endif %}
                        {% if entry.output %}
                            Output: <br/>
                            {{ entry.output|linebreaksbr }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
