version: 2
updates:
  - package-ecosystem: "bun"
    directory: "/"
    open-pull-requests-limit: 5
    schedule:
      interval: "monthly"
  - package-ecosystem: "uv"
    directory: "/"
    open-pull-requests-limit: 5
    schedule:
      interval: "monthly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
