.idea
.vscode
*.pyc
*~
db.sqlite3
.sass-cache/
celerybeat*
config/localsettings.py
config/local.py
static_root/
node_modules/
openapitools.json
media/
docs/_build
_dist/
.env
.env.docker
.env.production
.DS_Store
.direnv
.envrc
.python-version
.coverage
venv

# uncomment these lines after setting up the front-end build pipeline in dev and production
static/css/
static/js/
.git-backup
tmp_schema.yml

# Sentry Config File
.env.sentry-build-plugin
docs/claude

# TypeScript build cache
tsconfig.tsbuildinfo
