exclude: ^static/.*|/migrations/.*|\.min\.js$|\.min\.css$|\.css\.map$|\.min\.js$|\.js\.map$|\.svg$
default_language_version:
  python: python3.13
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.7
    hooks:
      - id: ruff
        args: [ --fix, --show-fixes ]
      - id: ruff-format
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
#      - id: djlint-reformat-django enable once format changes have been applied
      - id: djlint-django
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v8.56.0'
    hooks:
      - id: eslint
        additional_dependencies:
          - eslint@9.16.0
          - '@eslint/js@9.16.0'
          - eslint-plugin-react@7.37.2
          - typescript-eslint@8.17.0
        files: ^assets/javascript/.*\.[jt]sx?$  # *.js, *.jsx, *.ts and *.tsx
        types: [ file ]
        args: [ --fix ]
