exclude: ^static/.*|/migrations/.*|\.min\.js$|\.min\.css$|\.css\.map$|\.min\.js$|\.js\.map$|\.svg$
default_language_version:
  python: python3.13
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks  # Enables fast path
    rev: v4.5.0  # This is ignored for fast path detection
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-case-conflict
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: mixed-line-ending
      - id: check-symlinks
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/adamchainz/djade-pre-commit
    rev: '1.6.0'
    hooks:
      - id: djade
        args: [--target-version, "5.1"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        args: [ --fix, --show-fixes ]
      - id: ruff-format
  - repo: https://github.com/djlint/djLint
    rev: v1.36.4
    hooks:
#      - id: djlint-reformat-django enable once format changes have been applied
      - id: djlint-django
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v8.56.0'
    hooks:
      - id: eslint
        additional_dependencies:
          - eslint@9.16.0
          - '@eslint/js@9.16.0'
          - eslint-plugin-react@7.37.2
          - typescript-eslint@8.17.0
        files: ^assets/javascript/.*\.[jt]sx?$  # *.js, *.jsx, *.ts and *.tsx
        types: [ file ]
        args: [ --fix ]
  - repo: local
    hooks:
      - id: waf-allow-not-first
        name: waf_allow must be the first decorator listed
        entry: scripts/waf_pre_commit.sh
        language: system
        pass_filenames: false
        always_run: true
        fail_fast: true
