{% extends "generic/type_select_form.html" %}
{% load form_tags i18n %}
{% block pre_secondary_form %}
  <div class="my-4 flex flex-col gap-4">
    <div>
      <h2 class="font-bold text-lg">Default LLM Models
        {% blocktranslate asvar help_text %}
          Default models are the published models for this provider. If you need to use a model that isn't in
          this list, create a custom model.
        {% endblocktranslate %}
        {% include "generic/help.html" with help_content=help_text %}
      </h2>
      {% include "service_providers/components/llm_models.html" with llm_models_by_type=default_llm_models_by_type %}
    </div>

    <div>
      <div class="flex justify-between">
        <h2 class="font-bold text-lg">Custom LLM Models
          {% blocktranslate asvar help_text %}
            Custom models are specific to this provider type and are available to all providers of the same type.
          {% endblocktranslate %}
          {% include "generic/help.html" with help_content=help_text %}
        </h2>
        <div class="tooltip" data-tip="Add a new custom model">
          <button class="btn btn-primary btn-xs" type="button" onclick="new_custom_model.showModal()">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </div>
      <div id="custom_model_list">
        {% include "service_providers/components/custom_llm_models.html" with llm_models_by_type=custom_llm_models_by_type %}
      </div>
    </div>

    <div>
      <h2 class="font-bold text-lg">Embedding Models
        {% blocktranslate asvar help_text %}
          Embedding models are used to convert text into vector representations.
        {% endblocktranslate %}
        {% include "generic/help.html" with help_content=help_text %}
      </h2>
      {% include "service_providers/components/embedding_models.html" with embedding_models_by_type=embedding_models_by_type %}
    </div>
  </div>
{% endblock pre_secondary_form %}

{% block post_form %}
  {# put this outside the form to prevent interaction between the forms #}
  <dialog id="new_custom_model" class="modal">
    <div class="modal-box">
      <h3 class="text-lg font-bold">Create a new Custom Model</h3>
      <div id="new_model_form">
        <input name="type" type="hidden" x-model="type" id="id_type">
        {% render_form_fields new_model_form "name" "max_token_limit" %}
      </div>
      <div class="modal-action">
        <form method="dialog">
          <button class="btn btn-primary"
                  hx-post="{% url "service_providers:llm_provider_model_new" request.team.slug %}"
                  hx-include="#new_model_form"
                  hx-target="#custom_model_list"
                  hx-swap="innerHTML"
                  hx-on::after-request="new_custom_model.close()">
            Save
          </button>
          <button class="btn">Cancel</button>
        </form>
      </div>
    </div>
  </dialog>
{% endblock post_form %}
