{% extends "web/base.html" %}
{% load static %}
{% load i18n %}
{% block body %}
  <section class="mt-7 section">
    <div class="container">
      <div class="pg-columns pg-align-items-center">
        <div class="pg-column-one-third">
          <img class="img-fluid" src="{% static 'images/undraw/undraw_lighthouse.svg' %}" alt="{% translate "Welcome!" %}">
        </div>
        <div class="pg-column">
          {% if not invitation.is_accepted %}
            <h1 class="pg-title">{% translate "Accept Invitation?" %}</h1>
            <h2 class="pg-subtitle">
              {% blocktranslate with team_name=invitation.team.name by=invitation.invited_by.get_display_name %}
                You've been invited to join {{ team_name }} by {{ by }}.
              {% endblocktranslate %}
            </h2>
            <p>
              {% blocktranslate with invite_email=invitation.email.lower %}
                The invitation is for {{ invite_email }}.
              {% endblocktranslate %}
            </p>
            {% if request.user.is_authenticated %}
              <form method="post" class="mt-2">
                {% csrf_token %}
                {% if user_email_matches %}
                  <input type="submit" class="btn btn-primary" value="Accept Invitation"/>
                {% else %}
                  <p>
                    {% blocktranslate with invite_email=invitation.email.lower user_email=request.user.email.lower  %}
                      You're logged in as {{ user_email }}. Please sign out and click the link in the invitation email sent to {{ invite_email }}.
                    {% endblocktranslate %}
                  </p>
                  <p class="buttons my-3">
                    <a class="btn btn-outline" href="{% url 'account_logout' %}{% querystring next=invitation_url %}">
                      {% translate "Sign out" %}
                    </a>
                  </p>
                {% endif %}
              </form>
            {% else %}
              <p class="buttons my-3">
                <a class="btn btn-primary" href="{% url 'sso:signup_after_invite' invitation.id %}">
                  {% translate "Create Account to Accept" %}
                </a>
              </p>
              <p>
                <a href="{% url login_url_name|default:"account_login" %}{% querystring next=invitation_url %}" class="link">
                  {% blocktranslate with invite_email=invitation.email.lower %}
                    Already have an account as {{ invite_email }}? Sign in.
                  {% endblocktranslate %}
                </a>
              </p>
            {% endif %}
          {% else %}
            <p class="pg-subtitle">
              {% translate "That invitation has already been accepted, signing in." %}
            </p>
            <p>
              {% translate "If you think this is a mistake, ask your team administrator to invite you again!" %}
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock body %}
