{% load static %}

<div x-data="{ isOpen: true }" class="mb-4">
    <div
        class="flex flex-row items-center justify-between hover:cursor-pointer hover:bg-base-300 rounded-lg p-3"
        @click="isOpen = !isOpen">
        <div class="flex gap-2 items-center">
            <i x-show="!isOpen" class="fa-solid fa-angle-right"></i>
            <i x-show="isOpen" class="fa-solid fa-angle-down"></i>
            <span class="text-lg font-bold">{{ span.name }}</span>
        </div>
        <div class="text-sm font-medium {% if span.status == 'error' %}text-red-500{% elif span.status == 'success' %}text-green-500{% endif %}">{{ span.duration_seconds }}s</div>
    </div>
    <div x-show="isOpen">
        {% include "trace/partials/span_details.html" %}
    </div>
</div>
