{% load static %}

<div x-data="{ collapsableIsOpen: true }" class="mb-4">
    <div class="flex flex-row items-center">
        {% if child_spans_map|get_item:span.id > 0 %}
            <button @click="collapsableIsOpen = !collapsableIsOpen" class="btn btn-ghost btn-sm p-1">
                <i x-show="!collapsableIsOpen" class="fa-solid fa-angle-right"></i>
                <i x-show="collapsableIsOpen" class="fa-solid fa-angle-down"></i>
            </button>
        {% endif %}
        <div
            class="w-full flex flex-row justify-between items-center rounded-lg p-3 hover:cursor-pointer hover:bg-base-300"
            :class="$store.spanDrawer.spanId === '{{ span.id }}' ? 'bg-base-300' : ''"
            @click="$store.spanDrawer.spanId === '{{ span.id }}' ? $store.spanDrawer.close() : $store.spanDrawer.open('{{ span.id }}')">
            <span class="p-1 text-lg font-bold">{{ span.name }}</span>
            <div class="text-sm font-medium {% if span.status == 'error' %}text-red-500{% elif span.status == 'success' %}text-green-500{% endif %}">{{ span.duration_seconds }}s</div>
        </div>
    </div>

    <div x-show="collapsableIsOpen">
        <div class="flex items-center justify-between">
            <div class="flex items-center">
                <div class="flex flex-col gap-1">
                    {% if span.prefetched_tagged_items %}
                        <div class="flex flex-row gap-1">
                            {% for tag in span.prefetched_tagged_items.tags %}
                                <span class="badge badge-info">{{ tag.name }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Child spans -->
        {% with child_spans=child_spans_map|get_item:span.id %}
            {% if child_spans %}
                <div class="ml-3 pl-3 mt-3">
                    {% for child_span in child_spans %}
                        {% include "trace/span_tree.html" with span=child_span %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</div>

{% include "trace/span_detail.html" with span=span %}
