{% load i18n %}
<li class="menu-title">
  <span>{% translate "Application" %}</span>
</li>
{% include "web/components/team_nav.html" %}
<li class="menu-title">
  <span>{% translate "My Account" %}</span>
</li>
<ul class="menu-list">
  <li>
    <a href="{% url 'users:user_profile' %}" {% if active_tab == 'profile' %}class="active"{% endif %}>
      <i class="fa fa-user h-4 w-4"></i>
      {% translate "Profile" %}
    </a>
  </li>
  {% if user.has_usable_password %}
    <li>
      <a href="{% url 'account_change_password' %}" {% if 'accounts/password/change' in request.path %}class="active"{% endif %}>
        <i class="fa fa-unlock-alt h-4 w-4"></i>
        {% translate "Change Password" %}
      </a>
    </li>
  {% endif %}
  <li>
    <a href="{% url 'account_logout' %}" {% if 'accounts/logout' in request.path %}class="active"{% endif %}>
      <i class="fa fa-sign-out h-4 w-4"></i>
      {% translate "Sign out" %}
    </a>
  </li>
</ul>
<li class="menu-title">
  <span>{% translate "Teams" %}</span>
</li>
<ul class="menu-list">
  <li>
    <a href="{% url 'teams:manage_teams' %}" {% if 'teams' in request.path %}class="active"{% endif %}>
      <i class="fa fa-group h-4 w-4"></i>
      {% translate "Teams" %}
    </a>
  </li>
</ul>
{% if user.is_superuser %}
  <li class="menu-title">
    <span>{% translate "Admin" %}</span>
  </li>
  <ul class="menu-list">
    <li>
      <a href="{% url 'support:hijack_user' %}" {% if active_tab == 'support' %}class="active"{% endif %}>
        <i class="fa fa-user-secret h-4 w-4"></i>
        {% translate "Impersonate a User" %}
      </a>
    </li>
  </ul>
{% endif %}
