{% load i18n %}
<li class="menu-title">
  <span>{% translate "Application" %}</span>
</li>
{% include "web/components/team_nav.html" %}
<li class="menu-title">
  <span>{% translate "My Account" %}</span>
</li>
<ul class="menu">
  <li>
    <a href="{% url 'ocs_notifications:notifications_home' %}" {% if active_tab == 'profile' %}class="menu-active"{% endif %}>
      <i class="fa-solid fa-bell"></i>
      {% translate "Notifications" %}
    </a>
  </li>
  <li>
    <a href="{% url 'users:user_profile' %}" {% if active_tab == 'profile' %}class="menu-active"{% endif %}>
      <i class="fa fa-user h-4 w-4"></i>
      {% translate "Profile" %}
    </a>
  </li>
  {% if user.has_usable_password %}
    <li>
      <a href="{% url 'account_change_password' %}" {% if 'accounts/password/change' in request.path %}class="menu-active"{% endif %}>
        <i class="fa fa-unlock-alt h-4 w-4"></i>
        {% translate "Change Password" %}
      </a>
    </li>
  {% endif %}
  <li>
    <a href="{% url 'account_logout' %}" {% if 'accounts/logout' in request.path %}class="menu-active"{% endif %}>
      <i class="fa fa-sign-out h-4 w-4"></i>
      {% translate "Sign out" %}
    </a>
  </li>
  {% include "web/components/theme_select.html" with position="right" text="Toggle Theme" %}
</ul>
{% if user.is_staff or user.is_superuser %}
  <li class="menu-title">
    <span>{% translate "Global Admin" %}</span>
  </li>
  <ul class="menu">
    <li>
      <a href="{% url 'ocs_admin:home' %}" {% if active_tab == 'admin' %}class="menu-active"{% endif %}>
        <i class="fa fa-bar-chart-o h-4 w-4"></i>
        {% translate "Admin" %}
      </a>
    </li>
    <li>
      <a href="{% url 'ocs_admin:flags_home' %}" {% if active_tab == 'flags' %}class="menu-active"{% endif %}>
        <i class="fa-solid fa-flag h-4 w-4"></i>
        {% translate "Feature Flags" %}
      </a>
    </li>
  </ul>
{% endif %}
