{% load static %}
{# see https://realfavicongenerator.net #}
<link rel="icon" type="image/png" href="{% static "images/favicons/favicon-96x96.png" %}" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{% static 'images/favicons/favicon.svg' %}" />
<link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}" />
<link rel="apple-touch-icon" sizes="180x180" href="{% static "images/favicons/apple-touch-icon.png" %}" />
<meta name="apple-mobile-web-app-title" content="Open Chat Studio" />
<link rel="manifest" href="{% static "images/favicons/site.webmanifest" %}" />
