{% load i18n static %}
<section class="my-8 mx-4">
  <div class="container ">
    <div class="flex flex-col mt-4 md:mt-24 md:mx-48">
      <div class="flex-1 justify-start">
        <img class="img-fluid dark:hidden block" src="{% static 'images/logo.png' %}" alt="{% translate "Open Chat Studio" %}">
        <img class="img-fluid hidden dark:block" src="{% static 'images/logo_white.png' %}" alt="{% translate "Open Chat Studio" %}">
      </div>
      <div class="flex-1 mt-12 justify-start">
        <h2 class="text-2xl">
          {{ project_meta.DESCRIPTION }}
        </h2>
        <p class="mt-4 flex grow gap-2">
          {% if signup_enabled %}
            <a class="btn btn-outline btn-primary" href="{% url 'account_signup' %}">
              {% translate "Create account" %}
            </a>
          {% endif %}
          <a class="btn btn-outline btn-secondary w-44" href="{% url login_url_name|default:"account_login" %}">
            {% translate "Sign In" %}
          </a>
          <a class="btn btn-ghost" href="{{ project_meta.DOCS_URL }}" target="_blank">
            {% translate "Docs" %}
            <i class="fa-solid fa-up-right-from-square"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
