{% if elevations %}
  <div class="alert bg-red-300 dark:bg-red-800 shadow-md rounded-none! text-warning-content">
    You are operating with escalated privileges. Release access:
    <div>
      {% for wire_form, elevation in elevations.items %}
        <a href="{% url 'web:release_elevation' wire_form %}" class="btn btn-warning btn-sm">
          {{ elevation.grant.label }}
          <span class="font-light">(expires in {{ elevation.expires_at|timeuntil }})</span>
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}
