{% load waffle_tags %}
{% load i18n %}
{% load team_tags %}
{% load partials %}
{% if request.team %}
  <li>
    <a href="{% url 'dashboard:index' request.team.slug %}"
       {% if active_tab == 'dashboard' %}class="menu-active"{% endif %}>
      <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
    {% translate "Dashboard" %}
  </a>
  </li>
  <li>
    <a href="{% url 'chatbots:chatbots_home' request.team.slug %}" {% if active_tab == 'chatbots' %}class="menu-active"{% endif %}>
      <i class="fas fa-comments"></i>
      {% translate "Chatbots" %}
    </a>
    {% flag "flag_tracing" %}
      {% if perms.trace.view_trace %}
        <ul>
            <li>
              <a href="{% url 'trace:home' request.team.slug %}" {% if active_tab == 'traces' %}class="menu-active"{% endif %}>
                <i class="fa-solid fa-magnifying-glass-location"></i>
                {% translate "Traces" %}
              </a>
            </li>
        </ul>
      {% endif %}
    {% endflag %}
  </li>
  <li>
    <a href="{% url 'experiments:source_material_home' request.team.slug %}"
       {% if active_tab == 'source_material' %}class="menu-active"{% endif %}>
      <i class="fa fa-book fa-fw"></i>
      {% translate "Source Material" %}
    </a>
  </li>
  <li>
    <a href="{% url 'experiments:survey_home' request.team.slug %}"
       {% if active_tab == 'survey' %}class="menu-active"{% endif %}>
      <i class="fa-solid fa-file-circle-question fa-fw"></i>
      {% translate "Surveys" %}
    </a>
  </li>
  <li>
    <a href="{% url 'experiments:consent_home' request.team.slug %}"
       {% if active_tab == 'consent_forms' %}class="menu-active"{% endif %}>
      <i class="fa-solid fa-file-contract fa-fw"></i>
      {% translate "Consent Forms" %}
    </a>
  </li>
  {% if perms.annotations.add_tag %}
    <li>
      <a href="{% url 'annotations:tag_home' request.team.slug %}"
         {% if active_tab == 'tags' %}class="menu-active"{% endif %}>
        <i class="fa fa-solid fa-tags"></i>
        {% translate "Manage Tags" %}
      </a>
    </li>
  {% endif %}
  {% if perms.documents.view_collection %}
    <li>
      <a href="{% url 'documents:collection_home' request.team.slug %}"
         {% if active_tab == 'collections' %}class="menu-active"{% endif %}>
        <i class="fa fa-folder" aria-hidden="true"></i>
      {% translate "Collections" %}
    </a>
    <ul>
      <li>
        <a href="{% url 'files:file_home' request.team.slug %}"
           {% if active_tab == 'files' %}class="menu-active"{% endif %}>
          <i class="fa fa-folder" aria-hidden="true"></i>
        {% translate "Files" %}
      </a>
    </li>
    </ul>
    </li>
  {% endif %}
  {% if perms.experiments.view_participant %}
    <li>
      <a href="{% url 'participants:participant_home' request.team.slug %}"
         {% if active_tab == 'participants' %}class="menu-active"{% endif %}>
        <i class="fa fa-users" aria-hidden="true"></i>
      {% translate "Participants" %}
    </a>
    </li>
  {% endif %}
  <li>
    <a href="{% url 'experiments:experiments_prompt_builder' request.team.slug %}" {% if active_tab == 'prompt_builder' %}class="active"{% endif %}>
      <i class="fa fa-ruler fa-fw"></i>
      {% translate "Prompt Builder" %}
    </a>
  </li>
  <li>
    {% if perms.assistants.view_openaiassistant %}
      <a href="{% url 'assistants:home' request.team.slug %}" {% if active_tab == 'assistants' %}class="menu-active"{% endif %}>
        <i class="fa-solid fa-robot"></i>
        {% translate "Assistants" %}
      </a>
    {% endif %}
  </li>
  <li>
    {% if perms.pipelines.view_pipeline %}
      <a href="{% url 'pipelines:home' request.team.slug %}" {% if active_tab == 'pipelines' %}class="menu-active"{% endif %}>
        <i class="fa-solid fa-puzzle-piece"></i>
        {% translate "Pipelines" %}
      </a>
    {% endif %}
  </li>
  {% flag "flag_session-analysis" %}
    <li>
      <a href="{% url 'analysis:list' request.team.slug %}" {% if active_tab == 'analysis' %}class="menu-active"{% endif %}>
        <i class="fa-solid fa-bar-chart"></i>
        {% translate "Session Analysis" %}
      </a>
    </li>
  {% endflag %}
  <li>
    <a href="{% url 'experiments:experiments_home' request.team.slug %}"{% if active_tab == 'experiments' %}class="menu-active"{% endif %}>
      <i class="fa fa-flask fa-fw"></i>
      {% translate "Experiments" %}
    </a>
    <ul>
      <li>
        <a href="{% url 'experiments:safety_home' request.team.slug %}"
           {% if active_tab == 'safety_layers' %}class="menu-active"{% endif %}>
          <i class="fa fa-shield fa-fw"></i>
          {% translate "Safety Layers" %}
        </a>
      </li>
    </ul>
  </li>
  {% flag "flag_evaluations" %}
    <li>
      <a href="{% url 'evaluations:home' request.team.slug %}" {% if active_tab == 'evaluations' %}class="active"{% endif %}>
        <i class="fa-solid fa-chart-simple"></i>
        {% translate "Evaluations" %}<span class="badge badge-sm">new!</span>
      </a>
      <ul>
        <li>
          <a href="{% url 'evaluations:evaluator_home' request.team.slug %}"
             {% if active_tab == 'evaluators' %}class="active"{% endif %}>
            <i class="fa fa-clipboard-check fa-fw"></i>
            {% translate "Evaluators" %}
          </a>
        </li>
        <li>
          <a href="{% url 'evaluations:dataset_home' request.team.slug %}"
             {% if active_tab == 'evaluation_datasets' %}class="active"{% endif %}>
            <i class="fa fa-database fa-fw"></i>
            {% translate "Datasets" %}
          </a>
        </li>
      </ul>
    </li>
  {% endflag %}
{% endif %}
