{% load i18n team_tags %}
{% if team %}
  {% if request.team_membership %}
    <li>
      <a href="{% url 'single_team:manage_team' team.slug %}">
        <i class="fa fa-gear"></i>
        {% translate "Team Settings" %}
      </a>
    </li>
  {% endif %}
  {% if other_teams %}
    <li>
      <details>
        <summary>{% translate "Switch Team" %}</summary>
        <ul>
          {% for name, url in other_teams %}
            <li>
              <a href="{{ url }}"><i class="fa fa-arrow-right"></i>{{ name }}</a>
            </li>
          {% endfor %}
        </ul>
      </details>
    </li>
  {% endif %}
{% endif %}
{% if request.user.is_authenticated %}
  <li>
    <a href="{% url 'teams:create_team' %}">
      <i class="fa fa-plus"></i>
      {% translate "Add Team" %}
    </a>
  </li>
{% endif %}
 <li>
   <a href="{{ project_meta.DOCS_URL }}" target="_blank">
    <i class="fa-solid fa-circle-question"></i>
    {% translate "Docs" %}
   </a>
</li>
