{% load waffle_tags %}
{% load i18n %}
{% load team_tags %}
{% if request.team %}
  <li>
    <a href="{% url 'experiments:experiments_home' request.team.slug %}" {% if active_tab == 'experiments' %}class="active"{% endif %}>
      <i class="fa fa-flask fa-fw"></i>
      {% translate "Experiments" %}
    </a>
    <ul>
      <li>
        <a href="{% url 'experiments:safety_home' request.team.slug %}"
           {% if active_tab == 'safety_layers' %}class="active"{% endif %}>
          <i class="fa fa-shield fa-fw"></i>
          {% translate "Safety Layers" %}
        </a>
      </li>
      <li>
        <a href="{% url 'experiments:source_material_home' request.team.slug %}"
           {% if active_tab == 'source_material' %}class="active"{% endif %}>
          <i class="fa fa-book fa-fw"></i>
          {% translate "Source Material" %}
        </a>
      </li>
      <li>
        <a href="{% url 'experiments:survey_home' request.team.slug %}"
           {% if active_tab == 'survey' %}class="active"{% endif %}>
          <i class="fa-solid fa-file-circle-question fa-fw"></i>
          {% translate "Surveys" %}
        </a>
      </li>
      <li>
        <a href="{% url 'experiments:consent_home' request.team.slug %}"
           {% if active_tab == 'consent_forms' %}class="active"{% endif %}>
          <i class="fa-solid fa-file-contract fa-fw"></i>
          {% translate "Consent Forms" %}
        </a>
      </li>
      {% if perms.annotations.add_tag %}
        <li>
          <a href="{% url 'annotations:tag_home' request.team.slug %}"
             {% if active_tab == 'tags' %}class="active"{% endif %}>
            <i class="fa fa-solid fa-tags"></i>
            {% translate "Manage Tags" %}
          </a>
        </li>
      {% endif %}
    </ul>
  </li>
  {% if perms.experiments.view_participant %}
    <li>
      <a href="{% url 'participants:participant_home' request.team.slug %}"
         {% if active_tab == 'participants' %}class="active"{% endif %}>
        <i class="fa fa-users" aria-hidden="true"></i></i>
      {% translate "Participants" %}
    </a>
    </li>
  {% endif %}
  <li>
    <a href="{% url 'experiments:experiments_prompt_builder' request.team.slug %}" {% if active_tab == 'prompt_builder' %}class="active"{% endif %}>
      <i class="fa fa-ruler fa-fw"></i>
      {% translate "Prompt Builder" %}
    </a>
  </li>
  <li>
    {% if perms.assistants.view_openaiassistant %}
      <a href="{% url 'assistants:home' request.team.slug %}" {% if active_tab == 'assistants' %}class="active"{% endif %}>
        <i class="fa-solid fa-robot"></i>
        {% translate "Assistants" %}<span class="badge badge-sm">beta</span>
      </a>
    {% endif %}
  </li>
  {% flag "pipelines" %}
    <li>
      {% if perms.analysis.view_analysis %}
        <a href="{% url 'analysis:home' request.team.slug %}" {% if active_tab == 'analysis' %}class="active"{% endif %}>
          <i class="fa-solid fa-magnifying-glass-chart"></i>
          {% translate "Analysis Pipelines" %}<span class="badge badge-sm">beta</span>
        </a>
      {% endif %}
    </li>
  {% endflag %}
  {% flag "pipelines-v2" %}
    <li>
      {% if perms.pipelines.view_pipeline %}
        <a href="{% url 'pipelines:home' request.team.slug %}" {% if active_tab == 'pipelines' %}class="active"{% endif %}>
          <i class="fa-solid fa-puzzle-piece"></i>
          {% translate "Pipelines" %}<span class="badge badge-sm">new!</span>
        </a>
      {% endif %}
    </li>
  {% endflag %}
{% endif %}
