{% load i18n %}
<div class="navbar bg-base-100 shadow-md">
  <div class="navbar-start">
    <div class="dropdown">
      <div class="lg:hidden">
        <label tabindex="0" class="btn btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </label>
      </div>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        {% block mobile_nav %}
          <li>
            <a class="{% if request.path == '/' %}active{% endif %}" href="{% url 'web:home' %}">
              <div>{{project_meta.NAME}}</div>
            </a>
          </li>
        {% endblock %}
      </ul>
    </div>
  </div>
  <div class="navbar-center hidden lg:flex">
    <div class="menu menu-horizontal p-0">
      <a class="tab {% if request.path == '/' %}tab-active{% endif %}" href="{% url 'web:home' %}">
        <div>{{project_meta.NAME}}</div>
      </a>
    </div>
  </div>
  <div class="navbar-end">
    {% if user.is_authenticated %}
    {% else %}
      {% if signup_enabled %}
        <a href="{% url 'account_signup' %}" class="btn btn-primary">
          {% translate "Sign Up" %}
        </a>
      {% endif %}
      <a href="{% url 'account_login' %}" class="btn btn-outline ml-2">
        {% translate "Sign In" %}
      </a>
    {% endif %}
  </div>
</div>
