{% load i18n %}
{% block navbar %}
  <div class="navbar bg-base-100 shadow-md">
    <div class="navbar-start">
    </div>
    <div class="navbar-end gap-2">
      {% if not user.is_authenticated %}
        <a class="font-semibold" href="{{ project_meta.DOCS_URL }}" target="_blank">
            {% translate "Docs" %}
        </a>
        {% if signup_enabled %}
          <a href="{% url 'account_signup' %}" class="btn btn-primary">
            {% translate "Sign Up" %}
          </a>
        {% endif %}
        <a href="{% url login_url_name|default:"account_login" %}" class="btn btn-outline ml-2">
          {% translate "Sign In" %}
        </a>
      {% endif %}
      {% include "web/components/theme_select.html" %}
    </div>
  </div>
{% endblock navbar %}
