{% load static %}
{% load team_tags %}
{% load i18n %}

<div class="dropdown">
  <label tabindex="0" class="normal-case btn btn-ghost gap-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
         class="inline-block w-5 h-5 stroke-current">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
    {% if team %}
      <span class="normal-case">{{ team.name }}</span>
    {% else %}
      <span class="normal-case">{{ request.user.get_display_name }}</span>
    {% endif %}
  </label>
  <ul tabindex="0"
      class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-64 z-10">
    {% if for_mobile %}
      <div>
        {% include 'web/components/app_nav_menu_items.html' %}
      </div>
    {% endif %}
    {% if team %}
      <li>
        <a href="{% url 'single_team:manage_team' team.slug %}">
          <i class="fa fa-gear"></i>
          {% translate "Team Settings" %}
        </a>
      </li>
      {% if other_teams %}
        <li class="menu-title">
          <span>{% translate "Switch Team" %}</span>
        </li>
        {% for name, url in other_teams.items %}
          <li>
            <a href="{{ url }}"><i class="fa fa-arrow-right"></i>{{ name }}</a>
          </li>
        {% endfor %}
      {% endif %}
    {% endif %}
    {% if request.user.is_authenticated %}
      <li class="menu-title">
        <hr/>
      </li>
      <li>
        <a href="{% url "teams:create_team" %}">
          <i class="fa fa-plus"></i>
          {% translate "Create New Team" %}
        </a>
      </li>
    {% endif %}
  </ul>
</div>
