{% load i18n %}
{% block navbar %}
  <div class="navbar bg-base-100 shadow-md">
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
      {% if user.is_authenticated %}
      {% else %}
        {% if signup_enabled %}
          <a href="{% url 'account_signup' %}" class="btn btn-primary">
            {% translate "Sign Up" %}
          </a>
        {% endif %}
        <a href="{% url 'account_login' %}" class="btn btn-outline ml-2">
          {% translate "Sign In" %}
        </a>
      {% endif %}
    </div>
  </div>
{% endblock %}
