{% extends "web/components/top_nav.html" %}
{% load static %}
{% load team_tags %}
{% load i18n %}
{% block navbar %}
  <div class="lg:hidden">
    <div class="navbar bg-base-100 shadow-md">
      <div class="navbar-start">
        <div class="dropdown">
          <div class="lg:hidden">
            <label tabindex="0" class="btn btn-ghost">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                   stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
              </svg>
              {% if team %}
                {{ team.name }}
              {% else %}
                {{ request.user.get_display_name }}
              {% endif %}
            </label>
          </div>
          <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 p-2 shadow-sm bg-base-200 rounded-box w-52 z-10">
            <li>
              <details>
                <summary>Team</summary>
                <ul>
                  {% include "web/components/team_nav_items.html" %}
                </ul>
              </details>
            </li>
            {% include "web/components/app_nav_menu_items.html" %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock navbar %}
