{% extends "web/base.html" %}
{% load static %}
{% block page_head %}
  {{ block.super }}
  <script src="{% static 'js/app-bundle.js' %}"></script>
{% endblock %}
{% block top_nav %}
  {% include 'web/components/top_nav_app.html' %}
{% endblock %}
{% block body %}
  {% block notifications %}
  {% endblock notifications %}
  <section class="section">
    <div class="container flex flex-row">
      {% if request.user.is_authenticated %}
        <div class="w-64 hidden lg:flex">
          {% block sidebar-nav %}
            {% include "web/components/app_nav.html" %}
          {% endblock sidebar-nav %}
        </div>
      {% endif %}
      <div class="w-full">
        {% include 'banners/banner.html' %}
        {% block breadcrumbs %}
        {% endblock breadcrumbs %}
        {% block app %}
        {% endblock app %}
      </div>
    </div>
  </section>
{% endblock %}
