{% extends "web/base.html" %}
{% load django_vite static %}
{% block page_head %}
  {{ block.super }}
  {% vite_asset 'assets/javascript/app.js' %}
{% endblock page_head %}

{% block top_nav %}
  {% include "web/components/top_nav_app.html" %}
{% endblock top_nav %}

{% block body %}
  {% block notifications %}
  {% endblock notifications %}
  <section class="m-2 lg:m-4">
    <div class="xl:container flex flex-row">
      {% if request.user.is_authenticated %}
        <div class="w-64 hidden lg:flex">
          {% block sidebar-nav %}
            {% include "web/components/app_nav.html" %}
          {% endblock sidebar-nav %}
        </div>
      {% endif %}
      <div class="w-full">
        {% include "banners/banner.html" %}
        {% block breadcrumbs %}
        {% endblock breadcrumbs %}
        {% block app %}
        {% endblock app %}
      </div>
    </div>
  </section>
{% endblock body %}

{% block footer %}
  {{ block.super }}
  {% if request.user.is_authenticated and ocs_config.chat_widget.enabled and ocs_config.chat_widget.chatbot_id %}
    <open-chat-studio-widget {% include "generic/attrs.html" with attrs=ocs_config.chat_widget.get_widget_attributes %}
        user-id="{{ request.user.email }}"
        user-name="{{ request.user.get_display_name }}"
    >
    </open-chat-studio-widget>
  {% endif %}
{% endblock footer %}
