{% load humanize i18n %}
<div id="health-status-{{ record.id }}">
  {% if record.healthcheck_path %}
      {% if record.health_status == "up" %}
        <span class="badge badge-success">Up</span>
      {% elif record.health_status == "down" %}
        <span class="badge badge-error">Down</span>
      {% else %}
        <span class="badge badge-ghost">Unknown</span>
      {% endif %}
      <span class="text-xs pl-2">{{ record.last_health_check|naturaltime }}</span>
      <button hx-post="{% url 'custom_actions:check_health' request.team.slug record.pk %}"
              hx-swap="innerHTML"
              hx-target="#health-status-{{ record.id }}"
              hx-indicator="#indicator-{{ record.id }}"
              class="btn btn-xs btn-ghost ml-2"
              title="Check now">
        <i class="fa fa-refresh text-xs"></i>
      </button>
    <i id="indicator-{{ record.id }}" class="mx-2 htmx-indicator fa fa-spinner fa-pulse"></i>
  {% else %}
    <span class="text-gray-500">-</span>
  {% endif %}
</div>
