{% load humanize %}

{% url "ocs_notifications:mute_notification" record.team.slug record.id as url_for_mute %}
<div id="btn-mute-{{ record.id }}" class="text-center">
    {% if is_muted %}
        <div class="flex flex-col items-center gap-1 tooltip" data-tip="{% if muted_until %}Automatically unmutes {{ muted_until|naturaltime }}{% else %}Muted Forever{% endif %}">
            <button class="btn btn-sm"
                    hx-post="{% url 'ocs_notifications:unmute_notification' record.team.slug record.id %}"
                    hx-swap="outerHTML"
                    hx-target="this">
                <i class="fa fa-bell"></i>
                <span class="ml-1">Unmute Now</span>
            </button>
        </div>
    {% else %}

        <div class="dropdown">
            <div tabindex="0" role="button" title="Turn Do Not Disturb On" class="btn btn-ghost btn-sm m-1">
                <i class="fa fa-bell-slash"></i>
                <span class="ml-1">Mute</span>
            </div>
            <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                <li class="menu-title">
                    <span>Mute for</span>
                </li>
                <li>
                    <a hx-post="{{ url_for_mute }}"
                        hx-vals='{"duration": "8h"}'
                        hx-swap="outerHTML"
                        hx-target="#btn-mute-{{ record.id }}">8 hours</a>
                </li>
                <li>
                    <a hx-post="{{ url_for_mute }}"
                        hx-vals='{"duration": "1d"}'
                        hx-swap="outerHTML"
                        hx-target="#btn-mute-{{ record.id }}">1 day</a>
                </li>
                <li>
                    <a hx-post="{{ url_for_mute }}"
                        hx-vals='{"duration": "1w"}'
                        hx-swap="outerHTML"
                        hx-target="#btn-mute-{{ record.id }}">1 week</a>
                </li>
                <li>
                    <a hx-post="{{ url_for_mute }}"
                        hx-vals='{"duration": "1m"}'
                        hx-swap="outerHTML"
                        hx-target="#btn-mute-{{ record.id }}">1 month</a>
                </li>
                <li>
                    <a hx-post="{{ url_for_mute }}"
                        hx-vals='{"duration": "forever"}'
                        hx-swap="outerHTML"
                        hx-target="#btn-mute-{{ record.id }}">Forever</a>
                </li>
            </ul>
        </div>
    {% endif %}
</div>
