<button @click.stop="" class="btn btn-sm join-item {{ button_style|default_if_none:"btn-ghost" }}"
        {% if disabled %}disabled="disabled"{% endif %}
        id="action-{{ action_id }}"
        title="{{ title }}"
        hx-{{ hx_method|lower }}="{{ action_url }}"
        hx-target="#record-{{ record.id }}"
        hx-swap="outerHTML"
        type="button"
        hx-disabled-elt="this"
    {% if confirm_message %}
        hx-trigger="confirmed"
        onClick="alertify.confirm().setting({
            title: 'Confirm',
            message: '{{ confirm_message|escapejs }}',
            transition: 'fade',
            onok: function() {
            htmx.trigger('#action-{{ action_id }}', 'confirmed');
            },
            }).show();
            "
    {% endif %}
>
  {{ label }}
  {% if icon_class %}
    <i class="{{ icon_class }} htmx-hide"></i>
  {% endif %}
  <span class="loading loading-spinner loading-xs htmx-show"></span>
</button>
