{% comment %}
Renders a help icon with the content shown on hover. This is mostly used in form field rendering but can
also be used in other places.

Using directly:

  {% blocktranslate asvar help_text %}The help text.{% endblocktranslate %}
  {% include "generic/help.html" with help_content=help_text %}

{% endcomment %}
<div class="dropdown dropdown-right dropdown-hover">
  <div role="button" class="btn btn-circle btn-ghost btn-xs text-info">
    <i class="text-xs fa-regular fa-circle-question"></i>
  </div>
  <div
    tabindex="0"
    class="card card-sm dropdown-content bg-slate-300 dark:bg-slate-700 rounded-box z-1 w-64 shadow-sm">
    <div tabindex="0" class="card-body font-medium text-wrap">
      <p>{{ help_content|safe }}</p>
    </div>
  </div>
</div>
