{# Generic template for rendering an object form (e.g. create / update) #}
{% extends "web/app/app_base.html" %}
{% load form_tags %}
{% block app %}
  <div class="app-card max-w-full mx-auto">
    <div class="flex">
      <div class="flex-1">
        <h1 data-cy="title" class="pg-title">{{ title }}</h1>
      </div>
      <div class="justify-self-end">
        {% block title_bar_end %}
        {% endblock title_bar_end %}
      </div>
    </div>
    <div>
      {% block pre_form %}
      {% endblock pre_form %}
      <form method="post" class="my-2" {% include "generic/attrs.html" with attrs=form_attrs %}>
        {% csrf_token %}
        {% block form %}
          {{ form.non_field_errors }}
          {% render_form_fields form %}
        {% endblock form %}
        {% block form_actions %}
          <input type="submit" class="btn btn-primary mt-2" value="{{ button_text }}">
        {% endblock form_actions %}
      </form>
      {% block post_form %}
      {% endblock post_form %}
    </div>
  </div>
{% endblock app %}
