<div>
  <p>This {{ object_name }} is still referenced by other objects. You must archive those first.</p>
  {% if experiments %}
    <h2 class="font-semibold my-2">Experiments</h2>
    <ul class="list-disc list-inside">
      {% for experiment in experiments %}
        <li>{% include "generic/chip.html" with chip=experiment %}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if pipeline_nodes %}
    <h2 class="font-semibold my-2">Pipelines</h2>
    <ul class="list-disc list-inside">
      {% for node in pipeline_nodes %}
        <li>{% include "generic/chip.html" with chip=node %}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if experiments_with_pipeline_nodes %}
    <h2 class="font-semibold my-2">Experiments referencing Pipeline</h2>
    <ul class="list-disc list-inside">
      {% for experiment in experiments_with_pipeline_nodes %}
        <li>{% include "generic/chip.html" with chip=experiment %}</li>
      {% endfor %}
    </ul>
  {% endif %}


  {% if static_trigger_experiments %}
    <h2 class="font-semibold my-2">Static Trigger Experiments</h2>
    <ul class="list-disc list-inside">
      {% for experiment in static_trigger_experiments %}
        <li>{% include "generic/chip.html" with chip=experiment %}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if assistants %}
    <h2 class="font-semibold my-2">Assistants</h2>
    <ul class="list-disc list-inside">
      {% for assistant in assistants %}
        <li>{% include "generic/chip.html" with chip=assistant %}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
