<div x-data="dropdown()" x-init="loadOptions()">
  <input name="values" type="hidden" x-bind:value="selectedValues()">

  <div id="linkTagDiv" data-url="{% url 'annotations:link_tag' object_id=object_info.id %}"></div>
  <div id="unlinkTagDiv" data-url="{% url 'annotations:unlink_tag' object_id=object_info.id %}"></div>

  <div class="inline-block relative w-fit">
    <div class="flex flex-col items-center relative">
      <div x-on:click="open" class="w-full">
        <div class="my-2 p-1 flex select select-bordered rounded">
          <div class="flex flex-auto flex-wrap">
              <!-- The tag names in the input -->
            <template x-for="(option,index) in selected" :key="options[option].value">
              <div class="flex justify-center items-center m-1 font-medium py-1 px-1 rounded bg-gray-100 hover:bg-gray-100">
                <div class="text-xs font-normal leading-none max-w-full flex-initial" x-model="options[option]" x-text="options[option].text"></div>
                <div class="flex flex-auto flex-row-reverse">
                  <div x-on:click.stop="remove(index,option)">
                    <svg class="fill-current h-4 w-4 " role="button" viewBox="0 0 20 20">
                      <path d="M14.348,14.849c-0.469,0.469-1.229,0.469-1.697,0L10,11.819l-2.651,3.029c-0.469,0.469-1.229,0.469-1.697,0
                               c-0.469-0.469-0.469-1.229,0-1.697l2.758-3.15L5.651,6.849c-0.469-0.469-0.469-1.228,0-1.697s1.228-0.469,1.697,0L10,8.183
                               l2.651-3.031c0.469-0.469,1.228-0.469,1.697,0s0.469,1.229,0,1.697l-2.758,3.152l2.758,3.15
                               C14.817,13.62,14.817,14.38,14.348,14.849z" />
                    </svg>
                  </div>
                </div>
              </div>
            </template>

            <div x-cloak x-show="selected.length == 0" class="flex-1">
              <input placeholder="No tags selected" class="bg-transparent p-1 px-2 appearance-none outline-none h-full w-full text-gray-800" x-bind:value="selectedValues()">
            </div>
          </div>
        </div>
      </div>

      <!-- The dropdown itself -->
      <div class="w-full px-4">
        <div x-show.transition.origin.top="isOpen()" class="absolute h-12" x-on:click.away="close">
          <div class="flex flex-col w-full overflow-y-auto bg-white dark:bg-neutral-800">
            <!-- here's each element -->
            <template x-for="(option,index) in options" :key="option" class="overflow-auto">
              <div class="cursor-pointer w-full border-gray-100 rounded-t border-b hover:bg-gray-100" @click="select(index,$event)">
                <!-- Each element -->
                <div class="flex w-full items-center p-2 pl-2 border-l-2 relative">
                  <div class="w-full flex text-left">
                    <input type="checkbox" :checked="option.selected" \>
                    <div class="mx-2" x-model="option" x-text="option.text"></div>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ tag_data|json_script:"tagData" }}
{{ object_info|json_script:"objectInfo" }}
<script>
  function dropdown() {
    return {
      tagData: JSON.parse(document.getElementById("tagData").textContent),
      availableTags: [],
      selectedTags: [],
      selectedTagNames: [],
      linkUrl: document.getElementById("linkTagDiv").getAttribute("data-url"),
      unlinkUrl: document.getElementById("unlinkTagDiv").getAttribute("data-url"),
      objectInfo: JSON.parse(document.getElementById("objectInfo").textContent),
      options: [],
      selected: [],
      show: false,
      open() { this.show = true },
      close() { this.show = false },
      isOpen() { return this.show === true },
      select(index, event) {
        let postData = {swap: 'none', values: {"tag_name": this.options[index].text, "object_info": this.objectInfo}}
        if (!this.options[index].selected) {
          this.options[index].selected = true;
          this.options[index].element = event.target;
          this.selected.push(index);
          htmx.ajax('POST', this.linkUrl, postData)
        } else {
          this.selected.splice(this.selected.lastIndexOf(index), 1);
          this.options[index].selected = false;
          htmx.ajax('POST', this.unlinkUrl, postData)
        }
      },
      remove(index, option) {
        this.options[option].selected = false;
        this.selected.splice(index, 1);
        htmx.ajax('POST', this.unlinkUrl, {swap: 'none', values: {"tag_name": this.options[option].text}})
      },
      loadOptions() {
        this.availableTags = this.tagData.available
        this.selectedTags = this.tagData.selected
        this.selectedTagNames = this.selectedTags.map(obj => obj.tag)

        for (let i = 0; i < this.availableTags.length; i++) {
          this.options.push({
            value: this.availableTags[i],
            text: this.availableTags[i],
            selected: this.selectedTagNames.includes(this.availableTags[i]),
          });

          if (this.selectedTagNames.includes(this.availableTags[i])) {
            this.selected.push(i);
          }
        }
      },
      selectedValues(){
        return this.selected.map((option)=>{
          return this.options[option].value;
        })
      },
    }
  }
</script>