{# Generic template for rendering an object form (e.g. create / update) #}
{% extends "web/app/app_base.html" %}
{% load form_tags %}
{% block app %}
  <div class="app-card max-w-5xl mx-auto" x-data="{ type: '{{ secondary_key }}' }">
    <h1 class="pg-title">{{ title }}</h1>
    <div>
      <form method="post" class="my-2" enctype="multipart/form-data">
        {% csrf_token %}
        {% render_form_fields form.primary %}
        {% block pre_secondary_form %}
        {% endblock pre_secondary_form %}
        {% for key, form in form.secondary.items %}
          <div id="form_{{ key }}" x-show="type === '{{ key }}'" x-cloak>
            {% if form.custom_template %}
              {% include form.custom_template with object=object form=form %}
            {% else %}
              {% render_form_fields form %}

              {% if form.allow_file_upload %}
                <hr class="my-4">
                {% if not object.id %}
                  {% include "files/partials/file_formset.html" %}
                {% else %}
                  {% with delete_url=object.remove_file_url upload_url=object.add_file_url %}
                    {% include "files/partials/file_list.html" with files=object.get_files nested=True %}
                  {% endwith %}
                {% endif %}
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary mt-2" value="{{ button_text }}">
      </form>
      {% block post_form %}
      {% endblock post_form %}
    </div>
  </div>
{% endblock app %}
