<div x-data="{ 
    editing: false, 
    originalIdentifier: '{{ participant.identifier }}',
    handleSubmit(event) {
        const newIdentifier = event.target.identifier.value.trim();
        if (!newIdentifier || newIdentifier === this.originalIdentifier) {
            event.preventDefault();
            this.editing = false;
            return false;
        }
        return true;
    }
}">
    <!-- View mode -->
    <div class="flex items-center gap-2" x-show="!editing">
        <span>{{ participant.identifier }}</span>
        {% if perms.experiments.change_participant %}
            <button 
                class="btn btn-ghost btn-xs"
                @click="editing = true"
                title="Edit identifier"
            >
                <i class="fa-solid fa-pencil"></i>
            </button>
        {% endif %}
    </div>
    
    <!-- Edit mode -->
    {% if perms.experiments.change_participant %}
    <form 
        action="{% url 'participants:edit_identifier' request.team.slug participant.id %}"
        method="post"
        x-show="editing"
        x-cloak
        @submit="handleSubmit($event)"
    >
        {% csrf_token %}
        <div class="flex items-center gap-2">
            <input 
                type="text" 
                name="identifier" 
                value="{{ participant.identifier }}" 
                class="input input-sm input-bordered"
                required
                x-ref="identifierInput"
                @keydown.escape="editing = false"
            />
            <button type="submit" class="btn btn-primary btn-xs">
                <i class="fa-solid fa-check"></i>
            </button>
            <button 
                type="button" 
                class="btn btn-ghost btn-xs"
                @click="editing = false; $refs.identifierInput.value = originalIdentifier"
            >
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="text-xs text-warning mt-1 w-1/2">
            <i class="fa-solid fa-triangle-exclamation"></i>
            If a participant with this identifier already exists, all sessions will be transferred to that participant, the participant data will be merged and this one will be deleted. Continue with caution!
        </div>
    </form>
    {% endif %}
</div>
