{# override Django admin base site template #}
{% extends "admin/base.html" %}

{% block extrastyle %}
  <style>
    .releaselink {
      display: block;
      background: var(--delete-button-bg);
      border-radius: 4px;
      padding: 0.625rem 0.9375rem;
      height: 0.9375rem;
      line-height: 0.9375rem;
      color: var(--button-fg);
      transition: background-color 0.3s ease;
    }

    .releaselink:hover, .releaselink:focus {
      background: var(--delete-button-hover-bg);
      text-decoration: none;
    }
  </style>
{% endblock extrastyle %}
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} |
  {{ site_title|default:_('Django site admin') }}{% endblock title %}

{% block branding %}
  <div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
  {% if user.is_anonymous %}
    {% include "admin/color_theme_toggle.html" %}
  {% endif %}
  {% if temporary_superuser_access and "admin_site" in temporary_superuser_access %}
    <div>
      <a href="{% url "web:release_sudo" "admin_site" %}" class="releaselink">Release Admin Access</a>
      Expires in {{ temporary_superuser_access.admin_site|timeuntil }}
    </div>
  {% endif %}
{% endblock branding %}

{% block nav-global %}{% endblock nav-global %}
