{% extends "web/app/app_base.html" %}
{% load form_tags %}
{% load i18n %}
{% load static %}
{% block app %}
  <section class="app-card">

    <h1 class="pg-title">{% translate "Project Dashboard" %}</h1>
    <form>
      <div class="pg-columns">
        <div class="pg-column">
          {% render_field form.start %}
        </div>
        <div class="pg-column">
          {% render_field form.end %}
        </div>
      </div>
      <div class="pg-text-right mt-2">
        <input type="submit" class="pg-button-primary" value="Update">
      </div>
    </form>
    <div class="mt-2">
      <div class="pg-subtitle">{% translate "Chat Messages (Daily)" %}
        <canvas id="usage-chart" class="mt-2"></canvas>
      </div>
    </div>
  </section>
{% endblock %}
{% block page_js %}
  {{ usage_data|json_script:'usage_data' }}
  <script src="{% static 'js/adminDashboard-bundle.js' %}"></script>
  <script>
    const start = new Date("{{ start }}");
    const end = new Date("{{ end }}");
    const startValue = {{ start_value }};

    const usageChart = document.getElementById('usage-chart').getContext('2d');
    const usageData = JSON.parse(document.getElementById('usage_data').textContent);
    SiteJS.adminDashboard.barChartWithDates(usageChart, start, end, usageData, "Chat Messages");
  </script>
{% endblock %}
