{% extends "web/app/app_base.html" %}
{% load form_tags %}
{% load i18n %}
{% load static %}
{% block app %}
  <section class="app-card">

    <h1 class="pg-title">{% translate "Project Dashboard" %}</h1>
    <form hx-get="{% url "ocs_admin:usage_chart" %}" hx-target="#charts" hx-trigger="load, changed, submit">
      <div class="pg-columns">
        <div class="pg-column">
          {% render_field form.start %}
        </div>
        <div class="pg-column">
          {% render_field form.end %}
        </div>
      </div>
      <div class="pg-text-right mt-2">
        <input type="submit" class="pg-button-primary" value="Update">
      </div>
    </form>
    <div class="mt-2" id="charts">
      <div class="pg-subtitle">{% translate "Chat Messages (Daily)" %}
        <canvas id="usage-chart" class="mt-2"></canvas>
      </div>
    </div>
  </section>
{% endblock %}
{% block page_js %}
  <script src="{% static 'js/adminDashboard-bundle.js' %}"></script>
  <script>
    let chart;
    htmx.onLoad(() => {
      const element = document.getElementById('usage_data');
      if (!element) {
        return;
      }
      const usageData = JSON.parse(document.getElementById('usage_data').textContent);
      const start = new Date(usageData.start);
      const end = new Date(usageData.end);

      const usageChart = document.getElementById('usage-chart').getContext('2d');
      if (chart) {
        chart.destroy();
      }
      chart = SiteJS.adminDashboard.barChartWithDates(usageChart, start, end, usageData.data, "Chat Messages");
    })
  </script>
{% endblock %}
