{% extends "web/app/app_base.html" %}
{% load form_tags i18n static %}
{% block app %}
  <section class="app-card">
    <div class="flex justify-between items-center mb-6">
      <h1 class="pg-title">{% translate "Global Admin Dashboard" %}</h1>
      <div class="flex gap-2">
        <a href="{% url 'ocs_admin:configuration' %}" class="btn btn-primary">
          {% translate "Site Configuration" %}
        </a>
        <a href="{% url 'ocs_admin:flags_home' %}" class="btn btn-primary">
          {% translate "Manage Feature Flags" %}
        </a>
      </div>
    </div>
    <form hx-get="{% url "ocs_admin:usage_chart" %}" hx-target="#charts" hx-trigger="load, change, submit">
      <div class="flex items-center gap-4" x-data="{ range_type: '{{ form.range_type.data }}' }">
        {% render_field form.range_type xmodel="range_type" %}
        <div class="flex" x-show="range_type === 'custom'" x-cloak>
          {% render_field form.start %}
          {% render_field form.end %}
        </div>
      </div>
    </form>
    <div class="mt-4" id="charts"></div>
  </section>
{% endblock app %}

{% block page_js %}
  <script src="{% static 'js/adminDashboard-bundle.js' %}"></script>
  <script>
    let messageChart;
    let participantChart;
    htmx.onLoad(() => {
      const element = document.getElementById('chart_data');
      if (!element) {
        return;
      }
      const chartData = JSON.parse(element.textContent);
      const start = new Date(chartData.start);
      const end = new Date(chartData.end);

      const messageChartCtx = document.getElementById('message-chart').getContext('2d');
      const participantChartCtx = document.getElementById('participant-chart').getContext('2d');
      if (messageChart) {
        messageChart.destroy();
      }
      if (participantChart) {
        participantChart.destroy();
      }
      messageChart = SiteJS.adminDashboard.barChartWithDates(messageChartCtx, start, end, chartData.message_data, "Chat Messages");
      let participantData = chartData.participant_data;
      participantChart = SiteJS.adminDashboard.cumulativeChartWithDates(participantChartCtx, start, end, participantData.data, "Participants", participantData.start_value);
    })
  </script>
{% endblock page_js %}
