{% extends "web/app/app_base.html" %}
{% load i18n %}
{% load static %}
{% block app %}
    <section class="app-card">
        <div class="pg-columns pg-columns-reversed pg-align-items-center">
            <div class="pg-column-one-third">
                <img class="img-fluid" src="{% static 'images/undraw/undraw_outer_space.svg' %}" alt="{% translate "Fly Away!" %}">
            </div>
            <div class="pg-column">
                <h1 class="pg-title">{% translate "You're Signed In!" %}</h1>
                <h2 class="pg-subtitle">
                    {% blocktranslate with team_name=team.name %}You're logged into the "{{ team_name }}" Team.{% endblocktranslate %}
                </h2>
            </div>
        </div>
    </section>
    <section class="app-card py-8">
        <div class="text-center">
            <h4>{% translate "Need Help Getting Started?" %}</h4>
            <p class="py-2">{% translate "Visit our documentation for comprehensive guides, examples, and concepts." %}</p>
            <a href="https://docs.openchatstudio.com/" class="btn btn-primary" target="_blank">
                {% translate "Open Documentation" %}
            </a>
        </div>
    </section>
{% endblock %}
