{% load django_htmx django_vite meta_tags static %}
<!DOCTYPE html>
<html lang="en" {% if dark_mode %}class="dark" data-theme="dark"{% endif %}>
  <head>
    <meta charset="utf-8">
    <!--IE compatibility-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile friendly-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
      {% if project_meta %}
        {% with title=project_meta|get_title:page_title %}
          {% with description=project_meta|get_description:page_description %}
            {% with image=project_meta|get_image_url:page_image %}
              <title>{% block page_title %}{{ title }}{% endblock %}</title>
              <meta name="description" content="{{ description }}">
              <meta name="keywords" content="{{ project_meta.KEYWORDS }}">
      <!-- Twitter Card data -->
              <meta name="twitter:card" content="summary">
              <meta name="twitter:title" content="{{ title }}">
              <meta name="twitter:description" content="{{ description }}">
              <meta name="twitter:image" content="{{ image }}">
      <!-- Open Graph data -->
              <meta property="og:title" content="{{ title }}" />
              <meta property="og:type" content="website" />
              <meta property="og:url" content="{{ page_url }}" />
              <meta property="og:image" content="{{ image }}" />
              <meta property="og:description" content="{{ description }}" />
              <meta property="og:site_name" content="{{ project_meta.NAME }}" />
              <link rel="canonical" href="{% if page_canonical_url %}{{ page_canonical_url }}{% else %}{{ page_url }}{% endif %}">
            {% endwith %}
          {% endwith %}
        {% endwith %}
      {% endif %}
    {% endblock meta %}
    {% include "web/components/favicon.html" %}
    {% if debug %}
      {% vite_hmr_client %}
    {% endif %}
    {% vite_asset 'assets/site-base.js' %}
    {% vite_asset 'assets/site-tailwind.js' %}
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/v4-shims.min.css" integrity="sha512-ARfx5eajdcCAuWvuJrgUuJ6D25ON3KZRTCghNXXKeJldCQJ5bXS+6CvG2EhcFWITF95uwZydzpufSKvhmSpTxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% if GOOGLE_ANALYTICS_ID %}
      {% include "web/components/google_analytics.html" %}
    {% endif %}

    <!-- Sentry SDK. See https://docs.sentry.io/platforms/javascript/ -->
    {% if not debug %}
      <script
        src="https://js.sentry-cdn.com/40eeb2bc0ecd41b2a7b9df3c5ca182e8.min.js"
        crossorigin="anonymous"
      ></script>
    {% endif %}

    {% htmx_script %}
    {% vite_asset 'assets/javascript/window-shims.js' %}
    {% vite_asset 'assets/javascript/site.js' %}
    {% block page_head %}
    {% endblock page_head %}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block body_wrapper %}
      {% block top_nav %}
        {% include "web/components/top_nav.html" %}
      {% endblock top_nav %}
      {% block messages %}
        {% include "web/components/messages.html" %}
      {% endblock messages %}
      {% block notices %}
        {% include "web/components/notices.html" %}
      {% endblock notices %}
      {% block body %}
      {% endblock body %}
      {% block footer %}
        {% include "web/components/footer.html" %}
      {% endblock footer %}
    {% endblock body_wrapper %}
    {% block page_js %}
    {% endblock page_js %}
    {% include "web/components/messages-js.html" %}
    {% include "web/components/ajax_errors-js.html" %}
    {% load tz_detect %}
    {% tz_detect %}
  </body>
</html>
