{% extends "web/base.html" %}
{% load i18n %}
{% load form_tags %}
{% block notices %}{% endblock notices %}
{% block body %}
  <div class="flex justify-center my-8">
    <div class="w-96 px-4 py-4 bg-white rounded-lg shadow-sm">
      <div>
        <h2 class="mt-6 text-center text-2xl font-bold text-gray-900">
          You are requesting access to:<br/>
          {% if is_team_request %}Team "{{ team_slug }}"{% else %}the Admin Site{% endif %}
        </h2>
        <form class="mt-4" method="post">
          <p class="text-center">Please confirm your identity:</p>
          <p class="text-center font-bold">{{ request.user.email }}</p>
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% render_form_fields form %}
          <div class="mt-2">
            <input class="btn btn-primary btn-block" type="submit" value="{% translate "Continue" %}">
          </div>
          <p class="text-center text-sm text-gray-500 mt-2">
            {% translate "Access will be granted for 30 minutes." %}<br/>
            {% translate "You can revoke access at any time." %}
          </p>
        </form>
      </div>
    </div>
  </div>
{% endblock body %}
