<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <title>Stencil Component Starter</title>

    <script type="module" src="/build/open-chat-studio-widget.esm.js"></script>
    <script nomodule src="/build/open-chat-studio-widget.js"></script>
  </head>
  <style>
    open-chat-studio-widget {
        position: static;
    }
  </style>
  <body style="background-color: #98dbcc">
    <open-chat-studio-widget
      api-base-url="http://localhost:8000"
      visible="false"
      chatbot-id="183312ac-cbe5-4c91-9e7b-d9df96b088e4"
      button-text="Let's Chat"
      expanded="true"
      position="center"
      welcome-messages="['Hi there! Welcome to OpenChatStudio!', 'How can we help you today?\n* list\n* list\n# Header L1\n\n## Header L2\n\n```\nsome code\nmore code\n```\n']"
      starter-questions="['I would like a OpenChatStudio demo', 'How can we help you today?\n* list\n* list\n# Header L1\n\n## Header L2\n\n```\nsome code\nmore code\n```\n']"
      persistent-session="true"
      persistent-session-expire="100"
      ></open-chat-studio-widget>
  </body>
</html>
