/* This file is used by the stencil-tailwind-plugin and should only contain global tailwind configuration */
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --animate-progress: progress 3s infinite linear;
  --animate-dots: dots 1s steps(5, end) infinite;
  --transform-origin-left-right: 0% 50%;

  @keyframes progress {
    0% {
      transform: translateX(0) scaleX(0);
    }
    10% {
      transform: translateX(0) scaleX(0.3);
    }
    50% {
      transform: translateX(100%) scaleX(0.3);
    }
    90% {
      transform: translateX(0) scaleX(0.3);
    }
    100% {
      transform: translateX(0) scaleX(0);
    }
  }
  @keyframes dots {
    0%,
    20% {
      color: rgba(0, 0, 0, 0);
      text-shadow:
        0.25em 0 0 rgba(0, 0, 0, 0),
        0.5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
      color: black;
      text-shadow:
        0.25em 0 0 rgba(0, 0, 0, 0),
        0.5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
      text-shadow:
        0.25em 0 0 black,
        0.5em 0 0 rgba(0, 0, 0, 0);
    }
    80%,
    100% {
      text-shadow:
        0.25em 0 0 black,
        0.5em 0 0 black;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
