{% extends "web/app/app_base.html" %}
{% load form_tags i18n json_tags static waffle_tags %}

{% block breadcrumbs %}
  {% if request.user.is_authenticated %}
    <div class="text-sm breadcrumbs" aria-label="breadcrumbs">
      <ul>
        <li><a href="{% url 'chatbots:chatbots_home' request.team.slug %}">Chatbots</a></li>
        <li><a href="{% url 'chatbots:single_chatbot_home' request.team.slug experiment.id %}">{{ experiment.name }}</a></li>
        <li class="pg-breadcrumb-active" aria-current="page">{{ experiment_session.external_id }}</li>
      </ul>
    </div>
  {% endif %}
{% endblock breadcrumbs %}

{% block app %}
  <div class="app-card">
    <div class="flex flex-wrap gap-2">
      <div class="flex-1">
        <h1 class="pg-title">Chatbot Review</h1>
      </div>
      {% if request.user.is_authenticated %}
        {% url 'chatbots:chatbot_session_pagination_view' team.slug experiment.public_id experiment_session.external_id as paginate_url %}
        <div class="flex flex-wrap items-center justify-end gap-2">
          <div class="join">
            <a class="btn join-item"
               href="{{ paginate_url }}?dir=prev">
              <i class="fa-solid fa-backward-step"></i> Older
            </a>
            <a class="btn join-item"
               href="{{ paginate_url }}?dir=next">
              Newer <i class="fa-solid fa-forward-step"></i>
            </a>
          </div>
          {% if perms.experiments.change_experimentsession and not experiment_session.ended_at %}
            <button type="button" 
                    class="btn btn-sm btn-error"
                    onclick="document.getElementById('end_session_modal').showModal()">
              {% translate "End Session" %}
            </button>
            <dialog id="end_session_modal" class="modal">
              <div class="modal-box">
                <h3 class="font-bold text-lg">{% translate "End Session?" %}</h3>
                <p class="text-md mt-2">Are you sure?</p>
                <form id="end_session_form" method="post" action="{% url 'chatbots:chatbot_end_session' team.slug experiment.public_id experiment_session.external_id %}">
                  {% csrf_token %}
                  {% if has_conversation_end_events %}
                    <label class="label cursor-pointer justify-start gap-2 mt-4">
                      <input type="checkbox" checked name="fire_end_event" class="checkbox checkbox-sm checkbox-primary">
                      <span class="label-text">{% translate "Trigger conversation end event(s)" %}</span>
                    </label>
                  {% endif %}
                </form>
                <div class="modal-action">
                  <form method="dialog">
                    <button class="btn">{% translate "Cancel" %}</button>
                  </form>
                  <button form="end_session_form" type="submit" class="btn btn-error">{% translate "End Session" %}</button>
                </div>
              </div>
              <form method="dialog" class="modal-backdrop">
                <button>{% translate "close" %}</button>
              </form>
            </dialog>
          {% endif %}
        </div>
      {% endif %}
    </div>
    <h3 class="text-base font-semibold leading-7 mt-8 pl-4">Session details</h3>
    <div class="max-w-5xl mt-4 border rounded-2xl">
      {% include "experiments/components/experiment_details.html" %}
    </div>

    <div role="tablist" class="mt-4 tabs tabs-border max-w-5xl">
      <input type="radio" name="experiment_tabs-{{ experiment_session.id }}" role="tab" class="tab" aria-label="Messages" checked/>
      <div role="tabpanel" class="tab-content pt-3">
        <div id="messages-container" class="min-w-full"
             hx-get="{% url 'experiments:experiment_session_messages_view' request.team.slug experiment.public_id experiment_session.external_id %}{% querystring %}"
             hx-trigger="intersect once"
             hx-indicator="#messages-initial-loading">
          <div id="messages-initial-loading" class="flex items-center justify-center p-10">
            <span class="loading loading-spinner"></span>
          </div>
        </div>
      </div>
      {% if perms.experiments.view_participantdata %}
        <input type="radio" name="experiment_tabs-{{ experiment_session.id }}" role="tab" class="tab" aria-label="Participant Data" />
        <div role="tabpanel" class="tab-content pt-3">
          <div class="p-3 border rounded-lg">
          <pre><code class="text-sm">{{ experiment_session.participant_data_from_experiment|to_json }}</code></pre>
          </div>
        </div>
        <input type="radio" name="experiment_tabs-{{ experiment_session.id }}" role="tab" class="tab" aria-label="Participant Schedules" />
        <div role="tabpanel" class="tab-content pt-3">
          <div class="border rounded-lg divide-y">
            {% include "participants/partials/participant_schedules.html" %}
          </div>
        </div>
      {% endif %}
      <input type="radio" name="experiment_tabs-{{ experiment_session.id }}" role="tab" class="tab" aria-label="Session State" />
      <div role="tabpanel" class="tab-content pt-3">
        <div class="p-3 border rounded-lg">
          <pre><code class="text-sm">{{ experiment_session.state|to_json }}</code></pre>
        </div>
      </div>
      {% if perms.events.view_eventlog %}
        <input type="radio" name="experiment_tabs-{{ experiment_session.id }}" role="tab" class="tab" aria-label="Chatbot Events"/>
        <div role="tabpanel" class="tab-content pt-3">
          {% for event_trigger in event_triggers %}
            <div class="max-w-5xl mt-4 border rounded-2xl">
              {% include "events/components/event_logs.html" with trigger=event_trigger.trigger event_logs=event_trigger.event_logs %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>

  </div>
{% endblock app %}

{% block page_js %}
  {{ block.super }}
  <script
    id="tag-multiselect"
    src="{% static "js/tagMultiselect-bundle.js" %}"
    data-linkTagUrl="{% url 'annotations:link_tag' request.team.slug %}"
    data-unlinkTagUrl="{% url 'annotations:unlink_tag' request.team.slug %}"
  >
  </script>
  <script>
    window.addEventListener('load', () => {
      SiteJS.tagMultiselect.setupTagSelects();
    });
  </script>
{% endblock page_js %}
