{% extends "web/app/app_base.html" %}
{% load waffle_tags %}
{% load team_tags %}
{% load static %}
{% load form_tags %}
{% load django_tables2 %}
{% block breadcrumbs %}

  <div class="text-sm breadcrumbs" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'chatbots:chatbots_home' request.team.slug %}">Chatbots</a></li>
      <li class="pg-breadcrumb-active" aria-current="page">{{ experiment.name }}</li>
    </ul>
  </div>
{% endblock breadcrumbs %}
{% block app %}
  <div class="app-card">
    <div class="flex">
      <div class="flex-1 flex flex-row gap-2">
        <h1 class="pg-title" id="chatbot-name">{{ experiment.name }}</h1>
        {% if experiment.is_archived %}
          <div class="badge badge-warning badge-sm">
            Archived
          </div>
        {% elif deployed_version %}
          <div class="flex flex-row gap-2">
            <div class="tooltip" data-tip="Current published version">
              <a class="badge badge-success badge-sm"
                 href="#versions">
                v{{ deployed_version }}
              </a>
            </div>
            <div
              id="version-status-badge"
              class="watchVersionChange"
              hx-get="{% url 'experiments:get_release_status_badge' experiment.team.slug experiment.id %}"
              hx-trigger="load, version-changed"
              hx-swap="innerHTML">
            </div>
          </div>
        {% endif %}
      </div>
      <div class="justify-self-end">
        <div class="join">
          {% if experiment.is_editable %}
            <div class="tooltip" data-tip="Chat to the bot">
              <div class="dropdown dropdown-hover">
                <div tabindex="0" role="button" class="btn btn-primary join-item btn-sm rounded-l-full!">
                  <i class="fas fa-comment"></i><i class="fa-solid fa-caret-down fa-sm"></i>
                </div>
                <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                  <li>
                    <form method="post"
                          action="{% url 'chatbots:start_authed_web_session' team.slug experiment.id experiment.version_number %}"
                          class="inline">
                      {% csrf_token %}
                      <button type="submit">Unreleased version</button>
                    </form>
                  </li>
                  <li>
                    <form method="post"
                          action="{% url 'chatbots:start_authed_web_session' team.slug experiment.id 0 %}"
                          class="inline">
                      {% csrf_token %}
                      <button type="submit">Published version</button>
                    </form>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tooltip" data-tip="Edit">
              <a class="btn btn-primary join-item btn-sm"
                 href="{% url 'chatbots:edit' team.slug experiment.id %}">
                <i class="fa-solid fa-pencil"></i>
              </a>
            </div>
            <div class="tooltip" data-tip="Copy">
              <button class="btn btn-primary join-item btn-sm rounded-r-full copy-button"
                      onclick="chatbot_copy_modal.showModal()">
                <i class="fa-solid fa-copy"></i>
              </button>
            </div>
          {% else %}
            <div class="tooltip" data-tip="View">
              <a class="btn btn-primary join-item btn-sm rounded-l-full rounded-r-full"
                 href="{% url 'chatbots:edit' team.slug experiment.id %}">
                <i class="fa-solid fa-eye"></i>
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <h2 id="chatbot-description" class="flex-1 pg-subtitle">{{ experiment.description }}</h2>
    {% if experiment.is_editable %}
      <div class="my-4">
        <h3 class="font-bold text-lg inline mr-4">Channels:</h3>
        <input id="api-url-link" type="hidden" value="{{ experiment.get_api_url }}" />
        <button class="btn btn-ghost btn-sm no-animation normal-case!" onclick="SiteJS.app.copyToClipboard(this, 'api-url-link')" title="Copy to clipboard">
          <i class="fa-solid fa-link"></i> API <i class="fa-regular fa-copy fa-sm pg-text-muted"></i>
        </button>
        <div class="dropdown dropdown-hover">
          <div tabindex="0" role="button" class="btn btn-ghost btn-sm normal-case!">
            <i class="fa-regular fa-window-maximize"></i> Web <i class="fa-solid fa-caret-down fa-sm pg-text-muted"></i>
          </div>
          <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm border">
            {% if experiment.is_public %}
              <li onclick="sharing_modal.showModal()">
                <span><i class="fa-solid fa-share-nodes"></i> Share</span>
              </li>
            {% endif %}
            {% if perms.experiments.invite_participants %}
              <li>
                <a href="{% url 'chatbots:chatbots_invitations' team.slug experiment.id %}">
                  <i class="fa-regular fa-envelope"></i> Invitations
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
        {% include "chatbots/chatbot_copy_dialog.html" with chatbot_id=experiment.id team_slug=request.team.slug name=experiment.name %}
        {% if experiment.is_public %}
          {% include "experiments/share/dialog.html" with origin="chatbots" %}
        {% endif %}
        <div id="dynamic-channels" class="inline">
          {% include "chatbots/components/channel_buttons.html" with origin="chatbots" %}
        </div>
        <div id="channel_create_edit_modal_placeholder"></div>
      </div>
    {% endif %}
  </div>


  <div class="tabs-container">
    <div role="tablist" class="tabs tabs-border flex justify-start">
      {% if perms.chat.view_chat %}
        <input type="radio" name="tab_group" role="tab" class="tab" aria-label="Sessions" id="tab-allsessions" checked/>
      {% endif %}
      <input type="radio" name="tab_group" role="tab" class="tab" aria-label="Versions" id="tab-versions" />
      {% flag "flag_events" %}
        <input type="radio" name="tab_group" role="tab" class="tab" aria-label="Events" id="tab-events" />
      {% endflag %}
      <input type="radio" name="tab_group" role="tab" class="tab" aria-label="Settings" id="tab-settings" />
    </div>

    {% if perms.chat.view_chat %}
      <div role="tabpanel" class="tab-content" id="content-allsessions">
        <div class="relative">
          {% include "chatbots/components/session_table_actions.html" %}

          <div id="sessions-table">
            <div class="flex justify-center items-center p-6">
                <span class="loading loading-spinner loading-lg"></span>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    <div role="tabpanel" class="tab-content" id="content-versions">
      <div class="app-card">
        <div id="versions-table"
             class="watchVersionChange"
             hx-trigger="load, version-changed"
             hx-target="this"
             hx-get="{% url 'chatbots:versions-list' request.team.slug experiment.id %}"
             hx-swap="innerHTML">
        </div>
      </div>
    </div>
    {% flag "flag_events" %}
      <div role="tabpanel" class="tab-content" id="content-events">
        <div class="app-card">
          <a class="btn btn-sm btn-outline btn-primary" href="{% url 'chatbots:events:static_event_new' team.slug experiment.id %}"><i class="fa-regular fa-plus"></i> Create Static Event</a>
          <a class="btn btn-sm btn-outline btn-primary" href="{% url 'chatbots:events:timeout_event_new' team.slug experiment.id %}"><i class="fa-regular fa-plus"></i> Create Timeout Event</a>
          {% if show_events %}
            {% render_table events_table %}
          {% endif %}
        </div>
      </div>
    {% endflag %}

    <div role="tabpanel" class="tab-content" id="content-settings">
      <div class="app-card">
        {% include "chatbots/settings_content.html" %}
      </div>
    </div>
    <script>
      function showTabContent(tabId) {
        const tabContents = document.querySelectorAll('.tab-content');
        tabContents.forEach(content => content.style.display = 'none');
        const contentElement = document.getElementById(`content-${tabId}`);
        if (contentElement) {
          contentElement.style.display = 'block';
          history.replaceState(null, '', `#${tabId}`);
        }
      }

      function selectTabFromHash() {
        const tabId = window.location.hash.replace('#', '');
        const tab = document.getElementById(`tab-${tabId}`);
        if (tab) {
          tab.checked = true;
          showTabContent(tabId);
        }
      }

      document.addEventListener('DOMContentLoaded', () => {
        if (window.location.hash) {
          selectTabFromHash();
        } else {
          showTabContent('allsessions');
        }

        const tabs = document.querySelectorAll('.tab');
        tabs.forEach(tab => {
          tab.addEventListener('change', (event) => {
            const tabId = event.target.id.replace('tab-', '');
            showTabContent(tabId);
          });
        });
      });
      window.addEventListener('hashchange', selectTabFromHash);
    </script>
  </div>
{% endblock app %}
