{% load waffle_tags %}
{% with df_table_type=table_type %}
    <div class="dropdown dropdown-end" x-data="filterComponent">
      <div tabindex="0" role="button" class="btn btn-square btn-sm btn-ghost">
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-48">
        <li>
          <a href="#" @click.prevent="savedFiltersDialog.showModal()">
            <i class="fa-solid fa-filter"></i>
            Saved Filters
          </a>
        </li>
        {% if table_type == "sessions" %}
        {% flag "flag_evaluations" %}
        <li>
          <a href="{% url 'evaluations:dataset_new' team.slug %}"
         onclick="createDatasetWithFilters(this, '{{ experiment.id }}');">
        <i class="fa-solid fa-database"></i>
        Create dataset
      </a>
        </li>
        {% endflag %}
        {% endif %}
      </ul>
    </div>
{% endwith %}

<script>
    function createDatasetWithFilters(linkElement, experimentId) {
      const params = new URLSearchParams(window.location.search);
      let filterIndex = 0;
      while (params.has(`filter_${filterIndex}_column`)) {
        filterIndex++;
      }

      params.set(`filter_${filterIndex}_column`, 'experiment');
      params.set(`filter_${filterIndex}_operator`, 'any of');
      params.set(`filter_${filterIndex}_value`, JSON.stringify([experimentId]));

      const newUrl = linkElement.href + '?' + params.toString();
      
      linkElement.href = newUrl;
    }
</script>
