{% load form_tags %}
<dialog id="{{ modal_id }}" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">{{ modal_title }}</h3>
    <form id="trigger_bot_form"
          method="post"
          class="my-2"
          action="{{ action_url }}"
          hx-post="{{ action_url }}"
          hx-swap="outerHTML">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% render_form_fields form %}
      <div class="prose prose-sm prose-light">
        <p>This will trigger the selected chatbot to send a message to the participant using the prompt text provided.</p>
        <p>If "Start a new session" is checked, any active session will be ended.</p>
      </div>
    </form>
    <div class="modal-action">
      <button type="submit" form="trigger_bot_form" class="btn btn-primary">
        Trigger Bot
      </button>
      <form method="dialog">
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
