@import "tailwindcss/base";
@import "tailwindcss/components";

@import './app/chat.css';
@import './app/table.css';
@import './app/alertify.css';
@import './app/pg-components.css';
@import './app/prompt-builder.css';
@import "tailwindcss/utilities.css";

@layer components {

  .section {
    @apply m-4;
  }

  /* forms */
  .help {
    @apply text-xs text-gray-700;
  }

  .app {
    @apply m-4;
  }

  .app-card {
    @apply lg:shadow-md p-4 mb-2 mt-2 lg:mt-0 lg:p-8;
  }

  .tab:is(input[type="radio"]) {
  	@apply whitespace-nowrap;
  }
}

/* subscriptions */

@layer components {

  .plan {
    @apply h-full px-8 py-4 border-4 rounded-md border-white;
  }

  .plan.is-selected {
    @apply border-blue-500 border-opacity-100;
  }

}


/* chat UI stuff*/
@layer components {
  .htmx-request {
    @apply loading;
  }
}

/* set css variables to DaisyUI default colors: https://daisyui.com/docs/colors/ */

:root {
  --primary: #570df8;
  --danger: #f87272;
  --success: #36d399;
}

.ts-wrapper {
  @apply w-full !ml-0;
}

.ts-control {
  @apply
    rounded-lg
    bg-white
    py-2
    px-3;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
}

.ts-dropdown {
  @apply rounded-md border border-solid border-t border-gray-300;
}

.ts-dropdown [data-selectable].option:first-child {
  @apply rounded-t-lg;
}

.ts-dropdown [data-selectable].option:last-child {
  @apply rounded-b-lg;
}

.ts-dropdown .create:hover, .ts-dropdown .option:hover{
  @apply bg-sky-50 text-sky-900;
}

.ts-dropdown .active {
  @apply bg-gray-100 text-gray-900;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  display: none;
}
