@import "tailwindcss";
@import './app/chat.css';
@import './app/table.css' layer(components);
@import './app/alertify.css';
@import './app/pg-components.css';
@import './app/prompt-builder.css' layer(components);
@import './app/dashboard.css' layer(components);

@config '../../tailwind.config.js';
@plugin "@tailwindcss/typography";
@source inline("alert-success", "alert-info", "alert-error", "alert-warning", "alertify-notifier");
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-base-content: oklch(0.746477 0.0216 264.436);
}


/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
  See https://tailwindcss.com/docs/upgrade-guide#default-border-color
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@utility section {
  @apply m-4;
}

@utility help {
  /* forms */
  @apply text-xs text-gray-700;
}

@utility app {
  @apply m-4;
}

@utility app-card {
  @apply lg:shadow-md p-4 mb-2 mt-2 lg:mt-0 lg:p-8;
}

@utility tab {
  &:is(input[type='radio']) {
    @apply whitespace-nowrap;
  }
}

/* subscriptions */

@utility plan {
  @apply h-full px-8 py-4 border-4 rounded-md border-white;

  &.is-selected {
    @apply border-blue-500 border-black/100;
  }
}

@utility is-selected {
  &.plan {
    @apply border-blue-500 border-black/100;
  }
}

/* chat UI stuff*/
@utility htmx-request {
  @apply loading;
}

/* set css variables to DaisyUI default colors: https://daisyui.com/docs/colors/ */

:root {
  --primary: #570df8;
  --danger: #f87272;
  --success: #36d399;
}

open-chat-studio-widget {
  z-index: 9999;
  right: 30px;
  bottom: 30px;
  --button-font-size: 1.2rem;
  --button-border-color: #d1d5db;
  --button-border-color-hover: #6b7280;
}

/* Tom-select styling */
.ts-wrapper {
  @apply w-full ml-0!;
}

.ts-control {
  @apply
    rounded-lg
    bg-white
    py-2
    px-3;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
}

.ts-dropdown {
  @apply rounded-md border border-solid border-t border-gray-300;
}

.ts-dropdown [data-selectable].option:first-child {
  @apply rounded-t-lg;
}

.ts-dropdown [data-selectable].option:last-child {
  @apply rounded-b-lg;
}

.ts-dropdown .create:hover, .ts-dropdown .option:hover{
  @apply bg-sky-50 text-sky-900;
}

.ts-dropdown .active {
  @apply bg-gray-100 text-gray-900;
}

.dark .ts-control {
  @apply bg-base-100 border border-zinc-700 text-base-content;
}

.dark .ts-control input::placeholder {
  @apply text-gray-400;
}

.dark .ts-dropdown {
  @apply bg-base-100 border border-zinc-700;
}

.dark .ts-dropdown .option {
  @apply text-gray-400;
}

.dark .ts-dropdown .create:hover,
.dark .ts-dropdown .option:hover {
  @apply bg-zinc-600 text-gray-100;
}
.dark .ts-dropdown .active {
  @apply  bg-zinc-600 text-gray-100;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  display: none;
}

/* Override ugly daisyui badges */
.badge-success {
  @apply border-none inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20;
}

.badge-info {
  @apply border-none inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10;
}

.badge-warning {
  @apply border-none inline-flex items-center rounded-md bg-yellow-50 px-2 py-1 text-xs font-medium text-yellow-800 ring-1 ring-inset ring-yellow-600/20;
}

.badge-error {
  @apply border-none inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10;
}

.badge-green {
  @apply border-none bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-md dark:bg-green-900 dark:text-green-300;
}

.badge-neutral {
  @apply border-none rounded-md
}

.alert-success {
  @apply bg-green-50 px-2 py-1 text-green-700 dark:bg-green-900 dark:text-green-300;
}
.alert-info {
  @apply bg-blue-50 px-2 py-1 text-blue-700 dark:bg-blue-900 dark:text-blue-300;
}
.alert-warning {
  @apply bg-yellow-50 px-2 py-1 text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300;
}
.alert-error {
  @apply bg-red-50 px-2 py-1 text-red-700 dark:bg-red-900 dark:text-red-300;
}

.menu-active {
  background-color: oklch(0.313815 0.021108 254.139);
}

.markdown a {
  @apply underline
}