{% extends "generic/object_form.html" %}
{% load form_tags i18n %}

{% block form %}
    {{ form.non_field_errors }}
    {% render_form_fields form "name" "client_id" %}

    {% render_form_fields form "client_secret" %}
    {% if not form.instance.id %}
        <div class="alert bg-yellow-100 text-yellow-800">
          {% blocktranslate %}
            <strong>Important:</strong> Copy your client secret now. You won't be able to see it again.
          {% endblocktranslate %}
          {% include "generic/copy_chip.html" with copy_element_id="id_client_secret" copy_value=form.fields.client_secret.value show_value=False %}
        </div>
    {% endif %}
    {% render_form_fields form "authorization_grant_type" "redirect_uris" "post_logout_redirect_uris" "allowed_origins" "algorithm" %}
{% endblock form %}
