{% extends "oauth2_provider/base.html" %}
{% load i18n %}

{% block content %}
<div class="block-center">
    <form id="authorizationForm" method="post">
        <h3>{% translate "Authorize" %} {{ application.name }}?</h3>
        {% csrf_token %}

        {% for field in form %}
            {% if field.is_hidden and field.name != 'teams' %}
                {{ field }}
            {% endif %}
        {% endfor %}

        <div>
            <h4>{% translate "Select your team" %}</h4>
            <p>{% translate "This application will only be able to access data from the selected team." %}</p>
            {{ form.team }}
            {{ form.team.errors }}
        </div>

        <div>
            <h4>{% translate "Select which APIs to grant access to" %}</h4>
            {{ form.apis }}
            {{ form.apis.errors }}
        </div>


        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-large" value="{% translate "Cancel" %}"/>
                <input type="submit" class="btn btn-large btn-primary" name="allow" value="{% translate "Authorize" %}"/>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
