{% extends 'web/app/app_base.html' %}
{% load form_tags %}
{% block app %}
  <div class="text-sm breadcrumbs" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'analysis:home' request.team.slug %}">Analysis</a></li>
      <li><a href="{% url 'analysis:details' request.team.slug run.analysis_id %}">"{{ run.analysis.name }}"</a></li>
      <li class="pg-breadcrumb-active" aria-current="page">
        Run {{ run.id }}
      </li>
    </ul>
  </div>
  <div class="max-w-7xl mx-auto">
    <div class="app-card max-w-7xl mx-auto">
      <h1 class="pg-title">Analysis Run: {{ run }}</h1>
      <div id="run-status">{% include "analysis/components/run_status.html" %}</div>
    </div>
    <div class="app-card">
      {% if run.is_complete %}
        {% include "analysis/components/run_detail_tabs.html" %}
      {% else %}
        {% include "analysis/components/run_progress.html" %}
      {% endif %}
    </div>
  </div>
{% endblock %}
