{% extends 'web/app/app_base.html' %}
{% load form_tags %}
{% block breadcrumbs %}
  <div class="text-sm breadcrumbs" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'analysis:home' request.team.slug %}">Analysis</a></li>
      <li><a href="{% url 'analysis:details' request.team.slug group.analysis_id %}">"{{ group.analysis.name }}"</a>
      </li>
      <li class="pg-breadcrumb-active" aria-current="page">
        Group {{ group.id }}
      </li>
    </ul>
  </div>
{% endblock %}
{% block app %}
  <div class="max-w-7xl mx-auto">
    <div class="app-card">
      <div class="flex">
        <div class="flex-1">
          <h1 class="pg-title">Analysis Run Group {{ group.id }}</h1>
        </div>
        <div class="justify-self-end">
          <div id="run-group-status-buttons"
               class="inline">{% include "analysis/components/run_group_status_buttons.html" %}</div>
          <div class="join">
            <div class="tooltip" data-tip="Replay Run">
              <a class="btn btn-sm btn-primary join-item rounded-r-full"
                 href="{% url 'analysis:replay_run' team.slug group.id %}">
                <i class="fa-solid fa-arrow-rotate-left"></i>
              </a>
            </div>
            <div class="tooltip" data-tip="Delete">
              <a class="btn btn-sm btn-primary join-item rounded-r-full"
                 href="{% url 'analysis:delete_group' team.slug group.id %}">
                <i class="fa-solid fa-trash"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% if not group.is_running %}
        {% include "analysis/components/group_feedback.html" with record=group for_details=True %}
      {% endif %}
      <div id="group-status">{% include "analysis/components/run_status.html" with run=group %}</div>
      {% if group.is_running %}
        {% include "analysis/components/group_progress.html" %}
      {% else %}
        {% include "analysis/components/group_detail_tabs.html" %}
      {% endif %}
    </div>
  </div>
{% endblock %}
