{% load form_tags %}
<dialog id="channel_edit_modal_{{ channel.id }}" class="modal" open>
  <div class="modal-box">
    <h3 class="font-bold text-lg">Edit {{ channel.platform_enum.label }} Channel</h3>
    <form method="post"
      action="{% url "experiments:update_channel" request.team.slug experiment.id channel.id %}?origin=chatbots"
      x-data="{ buttonDisabled: false }"
      x-on:submit.debounce="buttonDisabled = true">
      {% csrf_token %}
      {% render_form_fields form %}

      {% if extra_form %}
        <div {% include "generic/attrs.html" with attrs=extra_form.form_attrs %}>
          {% render_form_fields extra_form %}
        </div>
      {% endif %}

      <div class="modal-action">
        <button class="btn btn-primary" type="submit" name="action" value="update" x-bind:disabled="buttonDisabled">Update</button>
        <button class="btn btn-error" type="submit" name="action" value="delete" x-bind:disabled="buttonDisabled">Delete</button>
        <button class="btn" type="button" onclick="document.getElementById('channel_edit_modal_{{ channel.id }}').removeAttribute('open')" x-bind:disabled="buttonDisabled">Close</button>
      </div>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
