{% load form_tags %}
<dialog id="channel_create_modal" class="modal" open>
  <div class="modal-box">
    <h3 class="font-bold text-lg">Link with {{ platform.label }}</h3>
    <form method="post"
          action="{% url "experiments:create_channel" request.team.slug experiment.id %}?origin=chatbots"
          x-data="{ buttonDisabled: false }"
          x-on:submit="buttonDisabled = true">
      {% csrf_token %}
      {% render_form_fields platform_form %}
      {% if extra_form %}
        <div {% include "generic/attrs.html" with attrs=extra_form.form_attrs %}>
          {% render_form_fields extra_form %}
        </div>
      {% endif %}
      <div class="modal-action">
        <span class="loading loading-spinner loading-sm p-3 ml-4" x-show="buttonDisabled" x-cloak></span>
        <button class="btn btn-primary" type="submit" x-bind:disabled="buttonDisabled">Create</button>
        <form method="dialog">
         <button class="btn" x-bind:disabled="buttonDisabled">Close</button>
        </form>
      </div>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>