{% load form_tags %}
<dialog id="{% if channel %}channel_edit_modal_{{ channel.id }}{% else %}channel_create_modal{% endif %}" class="modal" open>
  <div class="modal-box">
    <h3 class="font-bold text-lg">
      {% if channel %}
        Edit {{ channel.platform_enum.label }} Channel
      {% else %}
        Link with {{ platform.label }}
      {% endif %}
    </h3>
    <form method="post"
      {% if channel %}
        hx-post="{% url "channels:channel_edit_dialog" request.team.slug experiment.id channel.id %}?origin={{ request.GET.origin|default:'chatbots' }}"
      {% else %}
        hx-post="{% url "channels:channel_create_dialog" request.team.slug experiment.id platform.value %}?origin={{ request.GET.origin|default:'chatbots' }}"
      {% endif %}
      hx-target="#{% if channel %}channel_edit_modal_{{ channel.id }}{% else %}channel_create_modal{% endif %}"
      hx-disabled-elt="input, select, button"
{#      hx-indicator="#form_saving_indicator"#}
      hx-swap="outerHTML"
    >
      {% csrf_token %}
      {{ form.non_field_errors }}
      {% render_form_fields form %}
      {% if extra_form %}
        <div {% include "generic/attrs.html" with attrs=extra_form.form_attrs %}>
          {% render_form_fields extra_form %}
        </div>
      {% endif %}
      {% if success_message %}
      {{ success_message }}
      {% endif %}
      {% if warning_message %}
      {{ warning_message }}
      {% endif %}
      <div class="modal-action">
        {% if channel %}
          <button class="btn btn-primary" type="submit">Update</button>
          <button class="btn btn-error" 
                  hx-post="{% url 'channels:delete_channel' request.team.slug experiment.id channel.id %}?origin={{ request.GET.origin|default:'chatbots' }}">Delete</button>
        {% else %}
          <span class="loading loading-spinner loading-sm p-3 ml-4 htmx-indicator"></span>
          <button class="btn btn-primary" type="submit">Create</button>
        {% endif %}
        <form method="dialog">
          <button class="btn">Close</button>
        </form>
      </div>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
