@utility chat-pane {
  @apply overflow-y-auto flex flex-col grow p-4 space-y-4 bg-base-300;
}

@utility chat-message {
  @apply px-3 py-2 rounded-lg;
}

@utility message-contents {
  @apply prose max-w-none lg:prose-lg;
  & p {
    @apply my-0;
  }
  & pre {
    @apply whitespace-pre-wrap;
  }
  & hr {
    @apply my-0 border-t border-gray-200;
  }

  .chat-message-user & {
    @apply text-white;
  }

  .chat-message-system & {
    @apply text-slate-600;
  }

  .chat-message-untranslated {
    @apply text-gray-400 italic;
  }
}

@utility chat-message-system {
  @apply chat-message bg-blue-100;

  & .message-contents {
    @apply text-slate-600;
  }
}

@utility chat-message-user {
  @apply chat-message bg-indigo-500 text-white;

  & .message-contents {
    @apply text-white;
  }
}

@utility loading-dots {
  &:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
  }
}

@layer components {

  @keyframes dots {
    0%, 20% {
      color: rgba(0, 0, 0, 0);
      text-shadow: .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
      color: black;
      text-shadow: .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
      text-shadow: .25em 0 0 black,
      .5em 0 0 rgba(0, 0, 0, 0);
    }
    80%, 100% {
      text-shadow: .25em 0 0 black,
      .5em 0 0 black;
    }
  }

}
