@utility pg-title {
  /* typography helpers */
  @apply text-3xl font-bold mb-2;
}

@utility pg-subtitle {
  @apply text-xl mb-1;
}

@utility pg-text-centered {
  @apply text-center;
}

@utility pg-text-left {
  @apply text-left;
}

@utility pg-text-right {
  @apply text-right;
}

@utility pg-help {
  @apply text-gray-600 text-sm;
}

@utility pg-text-primary {
  @apply text-primary;
}

@utility pg-text-success {
  @apply text-success;
}

@utility pg-text-info {
  @apply text-info;
}

@utility pg-text-danger {
  @apply text-error;
}

@utility pg-text-muted {
  @apply text-gray-700 dark:text-gray-500;
}

@utility pg-hidden-mobile-inline {
  @apply hidden md:inline-block;
}

@utility pg-content {
  @apply prose max-w-none lg:prose-lg;
}

@utility pg-button-primary {
  /*

  .pg-hidden-mobile-inline
    @extend .is-hidden-mobile

  */

  /*buttons*/
  @apply btn btn-primary;
}

@utility pg-button-secondary {
  @apply btn btn-outline;
}

@utility pg-button-light {
  @apply btn btn-ghost;
}

@utility pg-button-danger {
  @apply btn btn-outline text-red-500 border-red-500 hover:bg-red-500 hover:border-red-700;
}

@utility pg-inline-buttons {
  @apply flex space-x-1;
}

@utility pg-justify-content-end {
  @apply justify-end;
}

@utility pg-icon {
  @apply w-6 h-6 inline-flex justify-center items-center;
}

@utility pg-input-group {
  /*
  .pg-is-loading
    @extend .is-loading

  */

  /* forms */
  @apply mb-3;
}

@utility pg-label {
  @apply block font-bold;
}

@utility pg-control {
  @apply input w-full;
}

@utility pg-select {
  & select {
    @apply select w-full;
  }
}

@utility pg-columns {
  /* columns */
  @apply flex flex-col space-y-4 lg:flex-row lg:space-x-4 lg:space-y-0;
}

@utility pg-columns-reversed {
  @apply lg:flex-row-reverse;
}

@utility pg-column {
  @apply flex-1;
}

@utility pg-column-one-quarter {
  @apply basis-1/4 grow-0 shrink-0;
}

@utility pg-column-one-third {
  @apply basis-1/3 grow-0 shrink-0;
}

@utility pg-align-items-center {
  @apply items-center;
}

@utility pg-table {
  /* tables */
  @apply table table-zebra w-full;
}

@utility table-responsive {
  @apply overflow-x-auto;
}

@utility pg-breadcrumbs {
  /* breadcrumbs */
  display: flex;
  align-items: center;

  & a {
    text-decoration: underline;
  }

  & li:first-child {
    padding: 0;
  }

  & li:not(:first-child) {
    padding: 0 0 0 0.75em;
  }

  & li:not(:first-child)::before {
    color: gray;
    content: '\0002f';
    float: left;
    padding-right: 0.75em;
  }
}

@utility pg-breadcrumb-active {
  color: #7a7a7a;
}

@utility pg-card {
  /* cards */
  @apply card bg-base-100 shadow-xl;
}

@utility pg-card-body {
  /*.pg-card-image*/
  /*  @extend .card-image*/
  @apply card-body pt-0;
}

@utility pg-ratio-3x2 {
  @apply aspect-3/2;
}

@utility pg-badge-default {
  /* badges */
  @apply badge;
}

@utility pg-badge-success {
  @apply badge badge-success;
}
