th.orderable:after {
    content: '';
    float: right;
    margin-top: 7px;
    border-width: 4px 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
}

th.orderable.asc:after {
    border-bottom: none;
    border-width:4px 4px 0;
}

th.orderable.desc:after {
    border-top: none;
    border-width: 0 4px 4px;
}