/* alpine.js cloak support */
[x-cloak] {
  display: none !important;
}

/* this is the default class assigned to errors by django forms */
.errorlist {
  color: var(--danger);
}

/* alertifyjs errorlist */
.ajs-error .errorlist {
  color: #000000;
}

/* htmx indicators that use display instead of opacity */
/* htmx hide (hide element during htmx request) */
.htmx-hide {
  display: inline;
}

.htmx-request .htmx-hide {
  display: none;
}

.htmx-request.htmx-hide {
  display: none;
}

/* htmx indicator inline (show element during htmx request) */
.htmx-show {
  display: none !important;
}

.htmx-request .htmx-show {
  display: inline-block !important;
}

.htmx-request.htmx-show {
  display: inline-block !important;
}
