{% extends "generic/object_form.html" %}
{% load form_tags %}
{% block breadcrumbs %}
  <div class="text-sm breadcrumbs" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'assistants:home' request.team.slug %}">Assistants</a></li>
      {% if object.id %}
        <li class="pg-breadcrumb-active" aria-current="page">Edit</li>
      {% else %}
        <li class="pg-breadcrumb-active" aria-current="page">Create</li>
      {% endif %}
    </ul>
  </div>
{% endblock breadcrumbs %}

{% block pre_form %}
  {% if object.id %}
    <h2 class="text-l pg-text-muted">Assistant ID:
      {% include "generic/copy_chip.html" with copy_element_id="copy_assistant_id" copy_value=object.assistant_id extra_styles="btn-ghost" %}
    </h2>
  {% endif %}
  {% if object.pk %}
    <div id="sync-wrapper" class="flex w-full gap-2"
         hx-get="{% url 'assistants:check_sync_status' request.team.slug object.pk %}"
         hx-trigger="load"
         hx-target="#sync-wrapper"
         hx-swap="innerHTML">
      <div id="sync-status" class="flex w-full gap-2">
        <span class="indicator" id="sync-indicator"></span>
        <span id="sync-message">Checking sync status...</span>
      </div>
    </div>
  {% endif %}
{% endblock pre_form %}

{% block form %}
  {{ form.non_field_errors }}
  {% render_form_fields form "name" "instructions" "include_file_info" %}
  {% render_form_fields form "llm_provider" "llm_provider_model" "temperature" "top_p" %}
  <div class="sm:grid sm:grid-cols-2 md:grid-cols-3">
    {% render_form_fields form "tools" "builtin_tools" "custom_action_operations" %}
  </div>

  <div class="mt-2" x-show="builtinTools.indexOf('code_interpreter') >= 0" x-cloak>
    {% render_form_fields form "allow_code_interpreter_attachments" %}
  </div>
  <div class="mt-2" x-show="builtinTools.indexOf('file_search') >= 0" x-cloak>
    {% render_form_fields form "allow_file_search_attachments" %}
  </div>
  <div class="mt-2" x-show="builtinTools.indexOf('code_interpreter') >= 0 || builtinTools.indexOf('file_search') >= 0" x-cloak>
    {% render_form_fields form "allow_file_downloads" %}
  </div>

  {% if not object.id %}
    <div class="mt-2" x-show="builtinTools.indexOf('code_interpreter') >= 0" x-cloak>
      {% include "files/partials/file_formset.html" with form_title="Code Interpreter Files" prefix="code_interpreter" %}
    </div>
    <div class="mt-2" x-show="builtinTools.indexOf('file_search') >= 0" x-cloak>
      {% include "files/partials/file_formset.html" with form_title="File Search Files" prefix="file_search" %}
    </div>
  {% endif %}
{% endblock form %}

{% block post_form %}
  {% if object.id %}
    {% with resources=object.tool_resources.all %}
      <hr class="my-4">
      {% for resource in resources %}
        <div>
          {% url "assistants:add_file" request.team.slug object.id resource.id as upload_url %}
          {% url "assistants:remove_file" request.team.slug object.id resource.id '000' as delete_url %}
          {% with files_title=resource.label|add:" Files" %}
            {% include "files/partials/file_list.html" with files=resource.files.all nested=False prefix=resource.tool_type multiple=True %}
          {% endwith %}
        </div>
      {% endfor %}
    {% endwith %}
  {% endif %}
{% endblock post_form %}

{% block page_js %}
  {{ llm_options|json_script:"llmModelOptions" }}
  <script>
    const llmModelOptions = JSON.parse(document.getElementById("llmModelOptions").textContent);
    document.addEventListener('alpine:init', () => {
      Alpine.data('assistant', () => ({
        builtinTools: [],
        llmProvider: null,
        llm_provider_model: '{{ object.llm_provider_model.id|default:form.llm_provider_model.value|default:'null' }}',
        llm_provider_model_options: [],
        init() {
          this.$watch('llmProvider', () => {
            this.llm_provider_model_options = llmModelOptions[this.llmProvider].models;
          })
        }
      }));
    });
  </script>
{% endblock page_js %}
