{% extends "generic/object_form.html" %}
{% load form_tags %}
{% block breadcrumbs %}
  <div class="text-sm breadcrumbs" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'assistants:home' request.team.slug %}">Assistants</a></li>
      {% if object.id %}
        <li class="pg-breadcrumb-active" aria-current="page">Edit</li>
      {% else %}
        <li class="pg-breadcrumb-active" aria-current="page">Create</li>
      {% endif %}
    </ul>
  </div>
{% endblock %}
{% block pre_form %}
  {% if object.id %}
    <h2 class="text-l pg-text-muted">Assistant ID: {{ object.assistant_id }}</h2>
  {% endif %}
{% endblock pre_form %}
{% block form %}
  {{ form.non_field_errors }}
  {% render_form_fields form "name" "instructions" "llm_provider" "llm_model" "builtin_tools" %}
  {% if not object.id %}
    {% include "files/partials/file_formset.html" %}
  {% endif %}
{% endblock form %}
{% block post_form %}
  {% if object.id %}
    {% with resources=object.tool_resources.all %}
      <hr class="my-4">
      <div role="tablist" class="tabs tabs-bordered">
        {% for resource in resources %}

          <input type="radio" name="files_tabs" role="tab" class="tab whitespace-nowrap"
                 {% if resource.tool_type == "file_search" %}aria-label="Vector Store Files"{% endif %}
                 {% if resource.tool_type == "code_interpreter" %}aria-label="Code Interpreter Files"{% endif %}
                 {% if forloop.first %}checked{% endif %}
          />
          <div role="tabpanel" class="tab-content">
            {% url "assistants:add_file" request.team.slug object.id resource.id as upload_url %}
            {% url "assistants:remove_file" request.team.slug object.id resource.id '000' as delete_url %}
            {% include "files/partials/file_list.html" with files=resource.files.all nested=False prefix=resource.tool_type %}
          </div>
        {% endfor %}
      </div>
    {% endwith %}
  {% endif %}
{% endblock post_form %}
{% block page_js %}
  {{ llm_options|json_script:"llmModelOptions" }}
  <script>
    const llmModelOptions = JSON.parse(document.getElementById("llmModelOptions").textContent);
    document.addEventListener('alpine:init', () => {
      Alpine.data('assistant', () => ({
        llmProvider: null,
        llm_model: '{{object.llm_model|default:'null'}}',
        llm_model_options: [],
        init() {
          this.$watch('llmProvider', () => {
            this.llm_model_options = llmModelOptions[this.llmProvider].models;
          })
        }
      }));
    });
  </script>
{% endblock page_js %}
