<div class="flex flex-col gap-2">
    {% if not are_files_synced %}
        <div id="sync-notification" role="alert" class="alert">
            <p><strong>Warning:</strong> Your assistant has files that are uploaded to OpenAI but not present in Open Chat Studio. This may lead to unexpected behavior in the assistant. To resolve this issue, please upload the necessary files on this page.</p>
        </div>
    {% endif %}
    <div class="flex flex row items-center gap-2">
        {% if is_synced %}
            <div id="sync-indicator" class="badge badge-success">
                <i class="fas fa-check mr-1"></i>In Sync
            </div>
        {% else %}
            <div id="sync-indicator" class="badge badge-error">
                <i class="fas fa-times mr-1"></i>Out of Sync
            </div>
            <button hx-post="{% url 'assistants:sync_while_editing' request.team.slug object.pk %}"
                    hx-target="#sync-container" class="btn btn-sm btn-primary">Sync Now</button>
        {% endif %}
    </div>
</div>
