anthropic
boto3
Django
django-allauth
django-allauth-2fa
django-tables2
django-waffle
psycopg2-binary
django-cryptography
django-environ
djangorestframework
djangorestframework-api-key
drf-spectacular
django-anymail
django-hijack
django-storages[s3]
celery-progress
celery
celery[redis]
httpx
openai
pandas
sentry-sdk
whitenoise[brotli]
langchain
langchain-openai
Markdown
# unstructured  # langchain loaders
# chromadb  # langchain queries
# beautifulsoup4  # web page parsing
pyTelegramBotAPI==4.12.0
pydub # Audio transcription
ffmpeg # Audio transcription
twilio
pydantic
django_celery_beat
azure-cognitiveservices-speech
taskbadger
tiktoken
fbmessenger
django-field-audit>=1.2.7
turn-python>=0.2.0
