Django>=4.2.15, <5
Markdown
anthropic
azure-cognitiveservices-speech
boto3
celery
celery-progress
celery[redis]
django-allauth
django-allauth-2fa
django-anymail
django-cryptography
django-environ
django-field-audit>=1.2.7
django-health-check
django-hijack
django-redis
django-storages[s3]
django-tables2
django-taggit
django-tz-detect
django-waffle
django_celery_beat
djangorestframework
djangorestframework-api-key
drf-spectacular
fbmessenger
ffmpeg # Audio transcription
httpx
jinja2
langchain
langchain-anthropic
langchain-openai
langfuse
langgraph
loguru
openai
pandas
psycopg2-binary
pyTelegramBotAPI==4.12.0
pydantic
pydub # Audio transcription
sentry-sdk
slack-bolt
taskbadger
tenacity
tiktoken
transformers # this is required by the tokenizer that langchain uses
turn-python>=0.2.0
twilio
whitenoise[brotli]
phonenumberslite
emoji
