{% load i18n %}

<div class="flex flex-col" x-data="{ editing: false }">
  <div x-show="!editing" class="py-2">
    <p>{{ value|default:"---" }}</p>
    <button
      type="button"
      class="text-blue-500 hover:text-blue-700"
      @click="editing = !editing"
      x-show="!editing"
    >
      <i class="fa-solid fa-pen-to-square"></i> Edit
    </button>
  </div>

  <form
    x-show="editing"
    hx-post="{{ update_url }}"
    hx-trigger="submit"
    hx-target="#{{ target_id }}"
    hx-swap="outerHTML"
    class="py-2"
    @submit="editing = false"
    x-cloak=""
  >
    {% csrf_token %}
    {% if is_textarea %}
      <textarea
        name="{{ field_name }}"
        class="textarea textarea-bordered w-full"
        rows="3"
      >{{ value }}</textarea>
    {% else %}
      <input
        type="text"
        name="{{ field_name }}"
        value="{{ value }}"
        class="input input-bordered w-full"
      >
    {% endif %}
    <input type="hidden" name="field-name" value="{{ field_name }}">

    <div class="flex gap-2 mt-2">
      <button type="submit" class="btn btn-sm btn-primary">Save</button>
      <button type="button" class="btn btn-sm" @click="editing = false">Cancel</button>
    </div>
  </form>
</div>
