{% load i18n %}
<div id="group-feedback-{{ record.id }}"
     {% if for_details %}class="float-right" x-data="{ showNotes: {{ record.notes|yesno:"true,false" }} }"{% endif %}
>
  {% if for_details %}
    {% trans "?details=true" as query %}
  {% else %}
    {% trans "" as query %}
  {% endif %}
  {% url "analysis:group_feedback" request.team.slug record.id as view_url %}
  <div class="join {% if for_details %}float-right{% endif %}">
    <button class="btn btn-sm btn-ghost join-item"
            hx-post="{{ view_url }}{{ query }}"
            hx-target="#group-feedback-{{ record.id }}"
            hx-vals='{"action": "{{ record.starred|yesno:"unstar,star" }}"}'
            hx-indicator="#hx-indicator-{{ record.id }}"
    >
      <i class="{% if record.starred %}fa-solid{% else %}fa-regular{% endif %} fa-star"></i>
    </button>
    <button class="btn btn-sm btn-ghost join-item"
            hx-post="{{ view_url }}{{ query }}"
            hx-target="#group-feedback-{{ record.id }}"
            hx-vals='{"action": {% if record.thumbs_up %}"approve_reset"{% else %}"approve"{% endif %} }'
            hx-indicator="#hx-indicator-{{ record.id }}"
    >
      <i class="{% if record.thumbs_up %}fa-solid{% else %}fa-regular{% endif %} fa-thumbs-up"></i>
    </button>
    <button class="btn btn-sm btn-ghost join-item"
            hx-post="{{ view_url }}{{ query }}"
            hx-target="#group-feedback-{{ record.id }}"
            hx-vals='{"action": {% if record.thumbs_down %}"approve_reset"{% else %}"reject"{% endif %} }'
            hx-indicator="#hx-indicator-{{ record.id }}"
    >
      <i class="{% if record.thumbs_down %}fa-solid{% else %}fa-regular{% endif %} fa-thumbs-down"></i>
    </button>
    {% if for_details %}
      <button class="btn btn-sm btn-ghost join-item"
              {% if not group.notes %}x-on:click="showNotes = !showNotes"{% endif %}>
        <i class="fa-regular fa-comment" :class="showNotes && 'fa-solid'"></i>
      </button>
    {% else %}
      <button class="btn btn-sm btn-ghost join-item no-animation cursor-default">
        <i class="{% if record.notes %}fa-solid{% else %}fa-regular{% endif %} fa-comment"></i>
      </button>
    {% endif %}
  </div>
  <span id="hx-indicator-{{ record.id }}" class="htmx-indicator loading loading-bars loading-xs"></span>
  {% if for_details %}
    <div x-show="showNotes" {% if not record.notes %}x-cloak{% endif %}>
      <textarea class="form-input border rounded border-neutral p-2" placeholder="Add a note..." name="notes"
                hx-post="{{ view_url }}{{ query }}"
                hx-trigger="keyup changed delay:500ms"
                hx-vals='{"action": "note"}'
                hx-indicator="#hx-indicator-{{ record.id }}"
                hx-swap="none">{{ record.notes|default_if_none:"" }}</textarea>
    </div>
  {% endif %}
</div>
