{% load markdown %}
{% load humanize %}
<div role="tablist" class="tabs tabs-bordered">
  <input type="radio" name="group_tabs_{{ group.id }}" role="tab" class="tab" aria-label="Output" checked/>
  <div role="tabpanel" class="tab-content p-4">
    {% with run=runs|last %}
      {% if run.error %}
        <p>Error:</p>
        <pre class="whitespace-pre-wrap">{{ run.error }}</pre>
      {% else %}
        {# remove backticks around inline code with prose-code:... #}
        <div
          class="prose prose-code:before:hidden prose-code:after:hidden">{{ run.output_summary|render_markdown }}</div>
      {% endif %}
    {% endwith %}
  </div>

  <input type="radio" name="group_tabs_{{ group.id }}" role="tab" class="tab" aria-label="Run Details"/>
  <div role="tabpanel" class="tab-content p-4" x-data="{ showDebug: false }">
    {% for run in runs %}
      <div class="app-card">
        <div class="flex">
          <div class="flex-1">
            <h2 class="pg-subtitle">
              {% if forloop.first %}
                Source Pipeline
              {% else %}
                {{ run.name }}: Analysis Pipeline {{ forloop.counter0 }}
              {% endif %}
            </h2>
          </div>
          <div class="justify-self-end">
            {% include "analysis/components/runs_status_badge.html" %}
          </div>
        </div>
        <div id="run-status">{% include "analysis/components/run_status.html" %}</div>
        {% include "analysis/components/run_detail_tabs.html" %}
      </div>
    {% endfor %}
  </div>

  <input type="radio" name="group_tabs_{{ group.id }}" role="tab" class="tab" aria-label="Parameters"/>
  <div role="tabpanel" class="tab-content p-4">
    <pre>{{ group.get_params_display }}</pre>
  </div>

</div>
