{% if update_status %}
  <div id="group-status" hx-swap-oob="true">{% include "analysis/components/run_status.html" with run=group %}</div>
{% endif %}
<div hx-get="{% url "analysis:group_progress" request.team.slug group.id %}" hx-trigger="load delay:2s">
  <h3 class="pg-subtitle">Logs</h3>
  <pre>
  <span class="loading loading-dots loading-md"></span>
  {% for run in runs reversed %}
    # Step {{ forloop.revcounter }}
    {% for entry in run.log.entries %}
    {{ entry.timestamp }} {{ entry.level }} [{{ entry.logger }}] {{ entry.message|wordwrap:60 }}{% endfor %}
    <hr>
  {% endfor %}
  </pre>
</div>
