<div class="font-mono">
  {% for entry in run.get_log_entries %}
    <div class="log log-{{ entry.level.name|lower }}">
      <time datetime="{{ entry.timestamp.isoformat }}"
            title="{{ entry.timestamp }}">{{ entry.timestamp|time:"H:i:s" }}</time>
      <div class="badge
    {% if entry.is_debug %}badge-neutral
    {% elif entry.is_info %}badge-success
    {% elif entry.is_warning %}badge-warning
    {% elif entry.is_error %}badge-error
    {% endif %}
">{{ entry.level.name }}</div>
      <div class="badge badge-ghost">[{{ entry.logger }}]</div>
      <span>{{ entry.message }}</span>
    </div>
  {% endfor %}
</div>
