<div class="font-mono">

  <div class="flex items-center cursor-pointer float-right">
    <span class="label-text mr-2">Show Debug</span>
    <input x-model="showDebug" type="checkbox" class="toggle" />
  </div>
  {% for entry in run.log.entries %}
    <div class="log log-{{ entry.level|lower }}" {% if entry.level == "DEBUG" %}x-show="showDebug"{% endif %}>
      <time datetime="{{ entry.timestamp.isoformat }}"
            title="{{ entry.timestamp }}">{{ entry.timestamp|time:"H:i:s" }}</time>
      <div class="badge
                  {% if entry.level == "DEBUG" %}badge-neutral
                  {% elif entry.level == "INFO" %}badge-info
                  {% elif entry.level == "WARNING" %}badge-warning
                  {% elif entry.level == "ERROR" %}badge-error
                  {% endif %}
                 ">{{ entry.level.name }}</div>
      <div class="badge badge-ghost">[{{ entry.logger }}]</div>
      <span>{{ entry.message }}</span>
    </div>
  {% endfor %}
</div>
