{% load humanize %}
{% if update_status %}
  <div id="run-status" hx-swap-oob="true">{% include "analysis/components/run_status.html" %}</div>
{% endif %}
<div role="tablist" class="tabs tabs-bordered">
  {% if run.is_complete %}
    {% if run.output_summary %}
      <input type="radio" name="run_tabs_{{ run.id }}" role="tab" class="tab" aria-label="Output"
             {% if not run.error %}checked{% endif %}/>
      <div role="tabpanel" class="tab-content p-4">
        <pre class="whitespace-pre-wrap">{{ run.output_summary }}</pre>
      </div>
    {% endif %}

    {% with resources=run.output_resources.all %}
      {% if resources %}
        <input type="radio" name="run_tabs_{{ run.id }}" role="tab" class="tab" aria-label="Files"
               {% if not run.output_summary and not run.error %}checked{% endif %}
        />
        <div role="tabpanel" class="tab-content p-4">
          {% for resource in resources %}
            <div class="my-2">
              <a href="{% url "analysis:download_resource" request.team.slug resource.id %}"
                 class="btn btn-sm btn-outline-primary" target="_blank">{{ resource.name }}</a>
              <span class="ml-2 text-gray-400">{{ resource.content_size|filesizeformat }}</span>
              <div class="badge badge-sm">{{ resource.wrapped_metadata.get_label }}</div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  {% endif %}

  {% if run.error %}
    <input type="radio" name="run_tabs_{{ run.id }}" role="tab" class="tab" aria-label="Error" checked/>
    <div role="tabpanel" class="tab-content p-4">
      <pre class="whitespace-pre-wrap">{{ run.error }}</pre>
    </div>
  {% endif %}

  <input type="radio" name="run_tabs_{{ run.id }}" role="tab" class="tab" aria-label="Logs"
         {% if not run.is_complete and not run.error %}checked{% endif %}/>
  <div role="tabpanel" class="tab-content p-4">
    {% include "analysis/components/run_logs.html" %}
  </div>
</div>
