{% load i18n %}
<section class="app-card">
    <h2 class="pg-subtitle">{% translate "Two-Factor Auth" %}</h2>
    {% if user_has_mfa_enabled %}
        <p class="mb-3">{% translate "You already have two-factor authentication enabled." %}</p>
        <a href="{% url "mfa_index" %}" class="btn btn-outline">{% translate "Configure" %}</a>
    {% else %}
        <p class="mb-3">{% translate "You do not have two-factor authentication enabled." %}</p>
        <a href="{% url "mfa_activate_totp" %}" class="btn btn-outline">{% translate "Enable" %}</a>
    {% endif %}
</section>
