{% load i18n %}
<section class="app-card">
  <div class="flex w-full justify-between">
    <h2 class="pg-subtitle">{% translate "OAuth Access Tokens" %}</h2>
    <a href="{% url 'oauth2_provider:application_home' %}" class="btn btn-outline btn-sm">
      {% translate "Manage OAuth Applications" %}
    </a>
  </div>
  {% for token in oauth_tokens %}
    {% if forloop.first %}
      <div class="table-responsive">
        <table class="table pg-table">
          <thead>
            <tr>
              <th>{% translate "Application" %}</th>
              <th>{% translate "Team" %}</th>
              <th>{% translate "Scopes" %}</th>
              <th>{% translate "Created" %}</th>
              <th>{% translate "Expires" %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
    {% endif %}
    <tr>
      <td>{% include "generic/chip.html" with chip=token.application.as_chip %}</td>
      <td>
        {% if token.team %}
          <a href="{% url "web_team:home" token.team.slug %}" class="link">{{ token.team.name }}</a>
        {% else %}
          <span class="text-base-content/50">{% translate "No team" %}</span>
        {% endif %}
      </td>
      <td>
        {% if token.scope_list %}
          <div class="flex flex-col gap-1">
            {% for scope_description in token.scope_list %}
              <div class="badge badge-outline">
                <span class="ml-1 text-xs opacity-70">{{ scope_description }}</span>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <span class="text-base-content/50">{% translate "No scopes" %}</span>
        {% endif %}
      </td>
      <td>{{ token.created|date:"Y-m-d H:i" }}</td>
      <td>
        {{ token.expires|date:"Y-m-d H:i" }}
      </td>
      <td>
        <form method="post" action="{% url 'users:revoke_oauth_token' %}">
          {% csrf_token %}
          <input type="hidden" name="token_id" value="{{ token.id }}">
          <div class="pg-inline-buttons">
            <input type="submit" class="pg-button-danger" value="{% translate "Revoke" %}" />
          </div>
        </form>
      </td>
    </tr>
    {% if forloop.last %}
      </tbody>
      </table>
      </div>
    {% endif %}
  {% empty %}
    <p>{% translate "You haven't authorized any OAuth applications yet." %}</p>
  {% endfor %}
</section>
