{% load static %}
{% load render_table from django_tables2 %}
{% render_table table "table/tailwind_js_pagination.html" %}
<script>
    function initializeRowClickHandlers() {
        document.querySelectorAll('tr[data-redirect-url]').forEach(function(element) {
            element.addEventListener('click', function() {
                let editUrl = this.getAttribute('data-redirect-url');
                window.location.href = editUrl;
            });
        });
    }

    if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', initializeRowClickHandlers);
    } else {
        initializeRowClickHandlers();
    }
</script>
