{% extends "django_tables2/bootstrap5.html" %}
{% load django_tables2 i18n %}
{% block table-wrapper %}
    <div class="table-container">
        {% block table %}
            {{ block.super }}
        {% endblock table %}

        {% block pagination %}
            <div class="flex pagination justify-end">
                {% if table.page and table.paginator.num_pages > 1 %}
                    <div class="join">
                        <a class="join-item btn"
                           {% if table.page.has_previous %}
                               {% block prev-page-link-attr %}
                                   href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}"
                               {% endblock prev-page-link-attr %}
                           {% else %}disabled{% endif %}>
                            <span aria-hidden="true">«</span>
                        </a>
                        <a class="join-item btn">
                          {% block pagination_info %}
                            {% with current_position=table.page.end_index total=table.page.paginator.count %}
                              {% blocktranslate %}
                                {{ current_position }} of {{ total }}
                              {% endblocktranslate %}
                            {% endwith %}
                          {% endblock pagination_info %}
                        </a>
                        <a class="join-item btn"
                           {% if table.page.has_next %}
                               {% block next-page-link-attr %}
                                   href="{% querystring table.prefixed_page_field=table.page.next_page_number %}"
                               {% endblock next-page-link-attr %}
                           {% else %}disabled{% endif %}>
                            <span aria-hidden="true">»</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endblock pagination %}
    </div>
{% endblock table-wrapper %}
