{% define 2 as num_cols %}
{% for type_, models in llm_models_by_type.items %}
  <div id="models_{{ type_ }}" x-show="type === '{{ type_ }}'" class="mt-2"
       {% if not for_type or type_ != for_type %}style="display:none"{% endif %}
  >
    <div class="grid grid-cols-{{ num_cols }} gap-x-5">
      {% for i in num_cols|times %}
        <div class="grid grid-cols-4 grid-flow-col-dense font-semibold">
          <div class="col-span-2">Model Name</div>
          <div class="place-self-center">Token Limit</div>
          {% if show_delete %}
            <div class="place-self-start">Delete</div>
          {% endif %}
        </div>
      {% endfor %}
      {% for model in models %}
        {% include "service_providers/components/_llm_model_row.html" with model=model show_delete=show_delete cost_tracking_enabled=cost_tracking_enabled pricing_lookup=pricing_lookup %}
      {% endfor %}
    </div>
  </div>
{% endfor %}
