{% extends "web/app/app_base.html" %}
{% load static %}
{% block page_head %}
  <link rel="stylesheet" href="{% static 'css/pipeline.css' %}">
  <style>
    .react-flow__handle {
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }
    .react-flow__handle-right {
      right: -7px;
      top: 50%;
      transform: translate(0, -50%);
    }
    .react-flow__handle-left {
      left: -7px;
      top: 50%;
      transform: translate(0, -50%);
    }
  </style>
{% endblock page_head %}

{% block breadcrumbs %}
  <div class="text-sm breadcrumbs" aria-label="breadcrumbs">
    <ul>
      {% if origin == "chatbots" %}
        <li><a href="{% url 'chatbots:chatbots_home' request.team.slug %}">Chatbots</a></li>
        <li><a href="{% url 'chatbots:single_chatbot_home' request.team.slug experiment.id %}">{{ experiment.name }}</a></li>
      {% else %}
        <li><a href="{% url 'pipelines:home' request.team.slug %}">Pipelines</a></li>
        <li><a href="{% url 'pipelines:edit' request.team.slug pipeline_id %}">{{ pipeline_name }} </a></li>
      {% endif %}
    </ul>
  </div>
{% endblock breadcrumbs %}

{% block app %}
  <div class="max-w-7xl mx-auto" id="pipelineBuilder">
  </div>
{% endblock app %}

{% block page_js %}
  {{ parameter_values|json_script:"parameter-values" }}
  {{ default_values|json_script:"default-values" }}
  {{ node_schemas|json_script:"node-schemas" }}
  {{ flags_enabled|json_script:"flags-enabled" }}
  {{ allow_edit_name|json_script:"allow-edit-name" }}
  {{ read_only|json_script:"read-only" }}
  {{ llm_model_params|json_script:"llm-model-params" }}
  {{ llm_model_param_schemas|json_script:"llm-model-parameter-schemas" }}
  <script src="{% static 'js/pipeline-bundle.js' %}"></script>
  <script type="module">
    window.DOCUMENTATION_BASE_URL = '{{ docs_base_url }}';
    document.addEventListener('DOMContentLoaded', () => {
      SiteJS.pipeline.renderPipeline("#pipelineBuilder", "{{ request.team.slug }}", {{ pipeline_id }});
    }
    )
  </script>
{% endblock page_js %}
