{% extends 'web/app/app_base.html' %}
{% load static %}
{% block page_head %}
  <link rel="stylesheet" href="{% static 'css/pipeline.css' %}">
{% endblock page_head %}
{% block breadcrumbs %}
{% endblock %}
{% block app %}
  <div class="max-w-7xl mx-auto" id="pipelineBuilder">
  </div>
{% endblock %}
{% block page_js %}
  {{ parameter_values|json_script:"parameter-values" }}
  {{ default_values|json_script:"default-values" }}
  {{ input_types|json_script:"node-input-types" }}
  <script src="{% static 'js/pipeline-bundle.js' %}"></script>
  <script type="module">
    let nodeInputTypes = JSON.parse(document.getElementById('node-input-types').textContent);
    document.addEventListener('DOMContentLoaded', () => {
      SiteJS.pipeline.renderPipeline("#pipelineBuilder", "{{ request.team.slug }}", {{ pipeline_id }}, nodeInputTypes);
    }
    )
  </script>
{% endblock %}
