{% include "events/components/toggle_active_flag_modal.html" with event=event toggle_active_flag_url=toggle_active_flag_url %}
<a class="btn btn-sm btn-outline btn-primary" href="{{ view_log_url }}" aria-label="View logs">View Logs</a>
<a class="btn btn-sm btn-outline btn-primary" href="{{ edit_url }}" aria-label="Edit event">Edit</a>
<form method="post" action="{{ delete_url }}" style="display: inline;">
  {% csrf_token %}
  <button type="submit" class="btn btn-sm btn-outline btn-primary" aria-label="Delete event">Delete</button>
</form>
<button type="button"
        class="btn btn-sm btn-outline btn-primary"
        onclick="document.getElementById('toggleEventModal-{{ event.id }}').showModal()"
        aria-label="Toggle active flag for this event">
    {% if event.is_active %}
        Disable
    {% else %}
        Enable
    {% endif %}
</button>
