{% extends "web/app/app_base.html" %}
{% load form_tags %}
{% block app %}
    <div class="app-card max-w-5xl mx-auto">
        <div class="flex">
            <div class="flex-1">
                <h1 class="pg-title">{{ title }}</h1>
            </div>
            <div class="justify-self-end">
                {% block title_bar_end %}
                {% endblock title_bar_end %}
            </div>
        </div>
        <div>
            {% block pre_form %}
            {% endblock pre_form %}
            <form method="post" class="my-2"
                  x-data="formData"
                  x-init="watchTriggerType()">
                {% csrf_token %}
                {% block form %}
                    <h1 class="pg-title">Event Details</h1>
                    {% if event_type == 'statictrigger' %}
                        {% render_field trigger_form.type xmodel="triggerType" %}
                    {% else %}
                        {% render_form_fields trigger_form %}
                    {% endif %}
                    {% render_form_fields action_primary_form %}
                    <div id="action-params"
                         hx-get="{% url 'events:action_params_form' request.team.slug experiment_id %}"
                         hx-trigger="change from:[name=action_type]"
                         hx-include="[name=action_type]"
                         hx-swap="innerHTML">
                        {% include "events/_action_params_form.html" with form=action_params_form %}
                    </div>
                    {{ trigger_form.non_field_errors }}
                    {{ action_primary_form.non_field_errors }}
                {% endblock form %}
                {% block form_actions %}
                    <input type="submit" class="btn btn-primary mt-2" value="Save">
                {% endblock form_actions %}
            </form>
            {% block post_form %}
            {% endblock post_form %}
        </div>
    </div>
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('formData', () => ({
                triggerType: '{{ trigger_form.initial.type }}',

                isActionDisabled(action) {
                    return this.triggerType === 'new_bot_message' &&
                    ['send_message_to_bot', 'schedule_trigger'].includes(action);
                },

                watchTriggerType() {
                    this.$watch('triggerType', value => {
                        const actionSelect = document.getElementById('{{ action_primary_form.action_type.id_for_label }}');
                        if (!actionSelect) return;
                        if (value === 'new_bot_message' &&
                            ['send_message_to_bot', 'schedule_trigger'].includes(actionSelect.value)) {
                                actionSelect.value = 'log';
                                actionSelect.dispatchEvent(new Event('change'));
                            }
                    });
                },

                init() {
                    const actionSelect = document.getElementById('{{ action_primary_form.action_type.id_for_label }}');
                    if (actionSelect) {
                        actionSelect.querySelectorAll('option').forEach(option => {
                            const value = option.value;
                            option.setAttribute('x-bind:disabled', `isActionDisabled('${value}')`);
                            option.setAttribute('x-show', `!isActionDisabled('${value}')`);
                        });
                    }
                }
            }))
        });
    </script>
{% endblock app %}
