{% extends 'web/app/app_base.html' %}

{% block app %}
    <div class="flex">
        <div class="flex-1">
            <h1 class="pg-title">{{ title }}</h1>
        </div>
        <div class="justify-self-end">
            {% block title_bar_end %}
            {% endblock title_bar_end %}
        </div>
    </div>
    <div class="app-card">
        <div class="overflow-x-auto">
            If <strong>{{ trigger_text|lower }}</strong> then <strong>{{ action_type|lower }}</strong>.
        </div>
    </div>
    <div class="app-card">
        <div class="overflow-x-auto">
            <table class="pg-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Session</th>
                        <th>Chat Message</th>
                        <th>Output</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event_log in event_logs %}
                        <tr>
                            <td>{{ event_log.created_at }}</td>
                            <td>{{ event_log.status|title }}</td>
                            <td>
                                <a class="btn btn-sm btn-outline btn-primary" href="{% url 'experiments:experiment_session_view' team.slug trigger.experiment.public_id event_log.session.public_id %}" class="link">
                                    Session Details
                                </a>
                            </td>
                            <td>{{ event_log.chat_message.content }}</td>
                            <td>{{ event_log.log }}</td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>



        </div>
    </div>

{% endblock %}
