{% extends "web/app/app_base.html" %}
{% load form_tags static %}

{% block page_js %}
  <script src="{% static 'js/editors-bundle.js' %}"></script>
  <script>
    window.addEventListener('load', () => {
      SiteJS.editors.initJsonEditors();
    });
  </script>
{% endblock page_js %}

{% block breadcrumbs %}
  <div class="text-sm breadcrumbs" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'participants:participant_home' request.team.slug %}">Participants</a></li>
      <li class="pg-breadcrumb-active" aria-current="page">{{ participant }}</li>
    </ul>
  </div>
{% endblock breadcrumbs %}

{% block app %}
  <div class="app-card">
    <div class="grid grid-cols-6">
      <div class="col-span-5">
        <div class="flex">
          <h1 class="pg-title">Participant details</h1>
        </div>
      </div>
      <div class="col-span-1 flex justify-end items-start">
        <button class="btn btn-sm btn-primary" onclick="trigger_message_dialog.showModal()">Trigger Bot Message</button>
      </div>
    </div>
    
    <div class="max-w-5xl mt-4 border rounded-2xl">
      {% include "participants/partials/participant_summary.html" %}
    </div>
    <h3 class="text-base font-semibold leading-7 mt-8 pl-4">Experiments</h3>
    <div class="max-w-5xl mt-4 border rounded-2xl">
      {% include "participants/partials/participant_experiments.html" %}
    </div>
  </div>

  <dialog id="trigger_message_dialog" class="modal">
    <div class="modal-box">
      <h3 class="text-lg font-bold">Trigger Bot Message</h3>
      <form id="trigger_bot_form_id"
            method="post"
            class="my-2"
            hx-post="{% url 'participants:trigger_bot' request.team.slug participant.id %}"
            hx-swap="outerHTML">
        {% csrf_token %}
        {{ trigger_bot_form.non_field_errors }}
        {% render_form_fields trigger_bot_form %}
        <div class="prose prose-sm prose-light">
          <p>This will trigger the selected chatbot to send a message to the participant using the prompt text provided.</p>
          <p>If "Start a new session" is checked, any active session will be ended.</p>
        </div>
      </form>
      <div class="modal-action">
        <button type="submit" form="trigger_bot_form_id" class="btn btn-primary">
          Trigger Bot
        </button>
        <form method="dialog">
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </dialog>
{% endblock app %}
